<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8"><meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="/assets/files/favicon.webp"
      rel="shortcut icon"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <!-- CSS | Main style file -->
    <link href="/css/style-main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="layout">
      <%-include("../partials/sidebar.ejs")%>
      <%-include("../partials/navbar.ejs")%>
      <div class="mainsection">
        <section class="dashboard">
          <h2>Dashboard</h2>
          <div class="dashboard-grid">
            <div class="dashboard-grid-div">
              <p class="dashboard-grid-div-name">
                <%= locals.user.firstName %> <%= locals.user.lastName %>
              </p>
              <p class="dashboard-grid-div-role">Enrolled Agent</p>
              <div class="stars-outer" id="main-star" value=<%=locals.reviewAnalysis.avgRating || 0 %> >
                <div class="stars-inner"></div>
              </div>
              <p class="dashboard-grid-div-review">
                <%= locals.reviewAnalysis.count || 0%> Reviews
              </p>
              <p class="dashboard-grid-div-service">
                <span>Service Offered:</span> General Tax Services
              </p>
            </div>
            <div class="dashboard-grid-div2">
              <% if(locals.agentProfile && locals.agentProfile.isClaimed) { %>
                <p class="dashboard-grid-div2-desc"> 

                </p>
                <%}%> 
                <%if(!locals.agentProfile || !locals.agentProfile.isClaimed) { %> 
                  <p class="dashboard-grid-div2-head">
                    Claim Your Listing! 
                    
                  </p>
                  <p class="dashboard-grid-div2-desc"> Excited about advertising your practice as a 
                    licensed Tax Expert for free? <br />Show your practice before thousands of potential 
                    clients by claiming your listing.  <br />Attract customers seeking your services in 
                    their area.
                  </p>
                  <form class="dashboard-grid-div2-form" id="listing-form">
                    <div class="dashboard-grid-div2-form-div1">
                      <div class="dashboard-grid-div2-form-div1-select">
                        <select id="select">
                          <option id="zip" value="zip" selected>Zip Code</option>
                          <option id="state" value="state">State</option>
                        </select>
                      </div>
                      <input type="text" id="zipInput" placeholder="Enter your zip code*" required />
                    </div>
                    <div class="dashboard-grid-div2-form-div2">
                      <input type="text" id="name" placeholder="Enter last name*" required />
                    </div>
                    <input class="dashboard-grid-div2-form-btn" type="submit" value="Claim My Profile" id="submit-btn" />
                  </form>
                <%}%> 
            </div>
          </div>
          <% if(locals.agentProfile && (locals.agentProfile.premium === false) && locals.agentProfile.isActive != false) { %>
          <!-- <section class="dashboard-grid-div upgrade">
            <h4>Upgrade Your Account</h4>
            <div>
              <p>
               Take advantage of our powerful listing features, free tools and services to 
               expand your practice
              </p>
              <input type="button" value="Upgrade Now" id="upgrade-btn" />
            </div>
          </section>
          <div
            class="modal fade bd-example-modal-lg"
            id="paymentModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLongTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    Continue with payment
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="payment-form" class="sr-payment-form">
                  <div class="sr-combo-inputs-row">
                    <div class="card-payment-details">
                      <input
                        type="text"
                        name="fullName"
                        id="fullName"
                        placeholder="Full Name"
                      />
                      <input
                        type="text"
                        name="address"
                        id="address"
                        placeholder="Address"
                        class="ml-30"
                      />
                    </div>
                    <div
                      class="sr-input sr-card-element"
                      id="card-element"
                    ></div>
                  </div>
                  <div
                    class="sr-field-error"
                    id="card-errors"
                    role="alert"
                  ></div>
                  <button id="submit" type="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay</span> 
                    <span id="order-amount"></span>
                  </button>
                </form>
              </div>
            </div>
          </div> -->
          <%}%> 
          <%- include("../partials/resources.ejs") %>
        </section>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
  integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
  crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
    <script>
      const rateStars = document.querySelector("#main-star");
      const val = rateStars.getAttribute("value");
      const starTotal = 5;

      const starPercentage = (val / starTotal) * 100;
      const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;

      rateStars.querySelector(".stars-inner").style.width = starPercentageRounded;
    </script>
    <script src="/javascripts/dashboardFindAgent.js"></script>
    <script src="/javascripts/upgrade.js"></script>
  </body>
</html>
