<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8"><meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="pages"
      content="<%= (locals.faqs && locals.faqs.pages)? locals.faqs.pages : '' %> " />
  <meta name="data"
    content="<%= (locals.faqs && locals.faqs.pages)? locals.faqs.data : ''%> " />
  <meta name="page"
    content="<%= (locals.faqs && locals.faqs.pages)? locals.faqs.page : '' %> " />
    <title>FAQs</title>
    <link
      href="/assets/files/favicon.webp"
      rel="shortcut icon"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <!-- CSS | Main style file -->
    <link href="/css/style-main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="layout">
      <%-include("../partials/sidebar.ejs")%>
      <%-include("../partials/navbar.ejs")%>
      <div class="mainsection">
        <div class="faqs">
          <section class="faqs-head">
            <div class="faqs-head__head">FAQs</div>
            <div class="faqs-head__text">
              Welcome to our FAQ series, designed to help you get the most out
              of your Enrolled Agent account.
            </div>
          </section>
          
          <section class="faqs-links">
             <% if( typeof locals.faqs !=='undefined' && locals.faqs.data && locals.faqs.data.length > 0) { %>   
            <ul>
              <% locals.faqs.data.map((e,id)=> { %> 
              <% const {title} = e %>
              <li class="faqs-link">
                <a href="#<%= title %>" class="faqs-link-elem"><%= title %> </a>
              </li>
              <% }) %> 
            </ul>
            <% } else { %>
              <p style="text-align: center;">No FAQs available. Check back later.</p>
            <%}%> 
          </section>
          <div class="faqs-view-all">
            <a href="#createAccount">View All FAQs</a>
          </div>
          <div class="faqs-item__spacer" id="createAccount"></div>
          <% if( typeof locals.faqs !=='undefined' && locals.faqs.data && locals.faqs.data.length > 0) { %>
              <% locals.faqs.data.map((e,id)=> { %> 
              <% const {title, message} = e %>
              <section class="faqs-item">
                <div class="faqs-item__head"><%- title %> </div>
                <div class="faqs-item__text">
                  <p><%- message %></p>
                </div>
              </section>
              <div class="faqs-item__spacer" id="findListing1"></div>
              <% }) %>
              <section id="bottom">
                <div class="container contain">
                  <div class="row">
                    <% if(locals.faqs && locals.faqs.data && locals.faqs.data.length > 0){ %> 
                    <div class="col-md-3">
                        <% const { page, pages, perPage, total} = locals.faqs %>
                          <p> Showing
                            <span id="resNumber"> <%= (((page || 0) -1) * (perPage || 0))+ 1 || 0%> to 
                              <%= Math.min((page || 1) * (perPage || 0), total) || 0%> of <%= total || 0%> entries
                            </span>
                          </p>  
                    </div>
                    <% } %> 
                    <% if(locals.faqs && locals.faqs.data && locals.faqs.pages > 1){ %> 
                    <div class="col-md-9">
                      <nav class="MyPagination">
                        <ul class="pagination">
                          <ul id="pagination" class="pagination-sm"></ul>
                        </ul>
                      </nav>
                    </div>
                    <% } %> 
                    <!-- <div class="col-md-6 b-tons"> -->
                  </div>
                </div>
              </section>
            <% } %>  
          
         
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
    <script src="/javascripts/pagination.js"></script> 
  </body>
</html>
