<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8"><meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="agentId" content=<%= locals.question._id || "N/A" %> />
    <title>Document</title>
    <link
      href="/assets/files/favicon.webp"
      rel="shortcut icon"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://enrolled-public.s3.amazonaws.com/stylesheets/reset.css" />
    <!-- CSS | Main style file -->
    <link href="https://enrolled-public.s3.amazonaws.com/css/style-main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://enrolled-public.s3.amazonaws.com/stylesheets/style.css" />
    <script
      src="https://cdn.tiny.cloud/1/voz160wv09tvdc9icbaf8p7hbz5l7r1xo766o8kv2lnzqs8e/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script>
      tinymce.init({
        selector: "#mytextarea",
        height: 300,
        menubar: false,
        plugins: [
          "advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table paste code help wordcount",
        ],
        toolbar:
          "undo redo " +
          "bold italic | alignleft aligncenter " +
          "alignright alignjustify | bullist numlist outdent indent | " +
          "removeformat",
      });
    </script>
  </head>
  <body>
    <div class="layout">
      <%-include("../partials/sidebar.ejs")%>
      <%-include("../partials/navbar.ejs")%>
      <div class="mainsection">
        <section class="submitAnswer">
          <div class="submitAnswer_top">
            <h2 class="submitAnswer_top-header">Submit an Answer</h2>
            <p>Can you help answer a tax enquiry?</p>
            <p class="submitAnswer_top-desc">Answering tax enquiries for our site visitors enhances 
              your profile reputation, raises your placements in our search results as well as 
              generating links and traffic to your page.
            </p>
            <a class="submitAnswer_top-btn" href="/dashboard/answer-questions"
              >Back to Questions</a
            >
          </div>
          <div class="submitAnswer_middle">
            <p class="submitAnswer_middle-question">
              <span>Question:</span> <%= locals.question.title || "N/A" %>
            </p>
            <p class="submitAnswer_middle-text">
              <%= locals.question.body || "N/A" %>
            </p>
            <p class="submitAnswer_middle-meta">
              Asked by <%= locals.question.firstName %> <%= locals.question.lastName %> on 
              <%-locals.dayjs(locals.question.createdAt).format("MMMM D, YYYY") %>
            </p>

            <h4>Your Answer</h4>
            <p class="submitAnswer_middle-info">
              Provide your answer to the question here.
            </p>
            <form action="" id="answer-form">
              <textarea id="mytextarea" name="mytextarea"></textarea>
              <div class="submitAnswer_middle-btn-div">
                <input
                  type="submit"
                  value="Submit"
                  id="submit-btn"
                  class="createArticle_middle-btn-div-link"
                />
              </div>
            </form>
          </div>
          <div class="submitAnswer_footer">
            <p class="submitAnswer_footer-info">
              <span>Note:</span> By publishing your answer, you permit us to
              make editings as we so please, and post your content on our site.
              The credit will still be yours regardless of the editings, and
              this will enhance your profile position in all searches made on
              our site. In a situation whereby your answer isn't approved, any
              earned rep score will be reverted. Also, the use of offensive
              language or any suspected abuse of our system may lead to a loss
              of reputation, deactivation of account, or both.
            </p>
          </div>
        </section>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
      integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
      crossorigin="anonymous"
    ></script>
    <script src="https://enrolled-public.s3.amazonaws.com/javascripts/answerQuestion.js"></script>
  </body>
</html>
