<section class="resources">
    <div class="container-fluid">
      <h2 class="resources-header">Resources</h2>
      <p class="resources-sub">Valuable information provided by our sponsors.</p>
       <% if (typeof locals !=='undefined' && locals.resource && locals.resource.length > 0) { %>
      <div class="resources-grid">
          <% const {resource} = locals %>
            <% for(let i=0; i < Math.min(resource.length, 6); i++) { %>
              <% const  {actionText, actionLink, title, category, imageUrl, sponsor, body }  = resource[i] %>
        <div class="resources-grid-box">
          <% if(sponsor && sponsor.name){ %>
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="<%= imageUrl %>" alt="stanbic-logo" />
          <% }%>
          <h3 class="resources-grid-box-topic"><%= title %></h3>
          <p class="resources-grid-box-desc" style="overflow: hidden;  
          text-overflow: ellipsis;
          height: 100px; max-width: 200px;">
           <%- body %>
          </p>
          <!-- <div class="arrow"> -->
            <a target="_blank" class="resources-grid-box-btn" href=" <%= actionLink %>">   <%= actionText %></a>
          <!-- </div> -->
        </div>
      </div>
        <% }} else { %>
          <p style="text-align:center; font-size: 20px; margin: 20px">No resources available</p>
        <% } %>
      
      <div class="btn-div">
      <a href="/resource">  <button >
        See All Resources
        <img src="/assets/files/down-arrow-small.svg" alt="arrow" />
      </button></a>
      </div>
    </div>
  </section>
