<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="category">
      <section class="container-fluid category_jumbotron">
        <div class="row">
          <div class="col-12 category_jumbotron-div">
            <h2>View Question</h2>
            <p>Have a look at questions asked by some of our users</p>
            <a href="/new-question">Ask new question</a>
            <a href="/ask-ea" class="ml-20">View Previous Questions</a>
          </div>
        </div>
      </section>
      <section class="category_grid">
        <div class="category_grid-main">
            <div class="category_grid-main-div" style="border-bottom: none;">
            <div class="category_grid-main-div-meta">
              <div class="category_grid-main-div-meta-div">
                <div class="category_grid-main-div-meta-div-date">
                  <p>28 <br />FEB</p>
                </div>
                <div class="category_grid-main-div-meta-div-title">
                  <h3 class="category-post-title"><%= locals.question.title || "N/A"  %> </h3>
                  <p class="category-post-author">by <%= locals.question.firstName || "N/A"  %> <%= locals.question.lastName || "N/A"  %> 
                </div>
              </div>
              <p class="category_grid-main-div-meta-desc"><%- locals.question.body || "N/A"  %></p>
              <div class="category_grid-main-div-meta-answer">
                  <% if (locals.question.answer !== undefined) { %>
                    <h4>Answer</h4> 
                    <p>Answer body goes here</p>
                    <p><span>Answer by:</span> Enrolled Agents</p>
                  <%} else { %>
                    <p>This question has not been answered. Are you an Enrolled Agent? 
                        <a <% if(locals.isAuthenticated) {%> href="/dashboard/submit-answer/<%= locals.question._id %> "
                        <%}%> href="/login">Click here to answer</a></p>
                  <%}%> 
                  
              </div>
            </div>
          </div>
          
        </div>
        <div class="category_grid-side">
         
          <div class="category_grid-side-ads">
            <img data-toggle="modal" data-target="#partnerModal"
              src="https://enrolled-public.s3.amazonaws.com/assets/EA_Ad_Space.webp" alt="advert image"  />
          </div>
          <div class="category_grid-side-recent">
            <h4>Recent Articles</h4>
            <% if(locals.latestArticle.length > 0) { %>
              <% locals.latestArticle.map((el,id) => { %>
                <div class="category_grid-side-recent-div">
                  <a href="/blog/<%= el._id %>">
                    <h5 style="font-weight: bold;" class="mb-10"><%= el.title %></h5>
                    <p class="category_grid-side-recent-div-truncate"> <%- el.body %></p>
                    <p class="category_grid-side-recent-div-bold"><%- locals.dayjs(el.createdAt).format("MMM, DD, YYYY") %></p>
                  </a>
                </div>
              <% }) %> 
            <%} else {%>
              <p style="text-align: center;">No recent article available</p>
            <%}%> 
          </div>
          <div class="category_grid-side-ads">
            <img data-toggle="modal" data-target="#partnerModal"
              src="https://enrolled-public.s3.amazonaws.com/assets/EA_Ad_Space.webp" alt="advert image"  />
          </div>
        </div>
      </section>
        <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mb-30" id="exampleModalLongTitle">Partnership Form </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="partner-form">
        <div class="modal-body">
            <div class="modal-body-div">
              <div class="row">
                <div class="col-md-6">
                  <input class="modal-body-div-input" id="name" type="text" required 
                  placeholder="Name*" />
                </div>
                <div class="col-md-6 pl-20">
                  <input class="modal-body-div-input" id="email" type="email" required 
                  placeholder="Email*" />
                </div>
              </div>
            </div>
            <div class="modal-body-div">
              <div class="row">
                <div class="col-md-6">
                  <input class="modal-body-div-input" id="firmName" type="text" required placeholder="Firm Name*" />
                </div>
                <div class="col-md-6 pl-20">
                    <input class="modal-body-div-input" id="phone" type="tel" required placeholder="Phone Number*" />
                </div>
              </div>
            </div>
            <div class="modal-body-div">
              <label class="modal-body-div-label"> Message</label>
              <textarea placeholder="Brief description of partnership interest" maxlength="1500" id="message"></textarea>
              <p>1500 maximum characters </p>
            </div>               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" id="submit-btn">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="/javascripts/partner.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
