<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="category">
      <section class="container-fluid category_jumbotron">
        <div class="row">
          <div class="col-12 category_jumbotron-div">
            <h2>Previous Questions in <%= name %></h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing</p>
            <a href="/new-question">Ask new question</a>
          </div>
        </div>
      </section>
      <section class="category_grid">
        <div class="category_grid-main">
          <% locals.questions && locals.questions.data.map((el, id)=> { %>
            <div class="category_grid-main-div">
            <div class="category_grid-main-div-meta">
              <div class="category_grid-main-div-meta-div">
                <div class="category_grid-main-div-meta-div-date">
                  <p>28 <br />FEB</p>
                </div>
                <div class="category_grid-main-div-meta-div-title">
                  <h3 class="category-post-title"><%= el.title || "N/A"  %> </h3>
                  <p class="category-post-author">by <%= el.firstName || "N/A"  %> <%= el.lastName || "N/A"  %> 
                    <a href="/ask-ea/<%= el.category.slug %>">| Category: <%= el.category.name || "N/A"  %></a></p>
                </div>
              </div>
              <p class="category_grid-main-div-meta-desc"><%= el.body || "N/A"  %></p>
              <a href="#" class="category_grid-main-div-meta-cta">Read More</a>
            </div>
          </div>
          <% }) %> 
          
        </div>
        <div class="category_grid-side">
          <div class="category_grid-side-archives">
            <h4>Archives</h4>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
          </div>
          <div class="category_grid-side-ads">
            <img src="/assets/files/13061.png" alt="enrolled-agent" />
          </div>
          <div class="category_grid-side-recent">
            <h4>Recent Articles</h4>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
          </div>
          <div class="category_grid-side-ads">
            <img src="/assets/files/13061.png" alt="enrolled-agent" />
          </div>
        </div>
      </section>
      <section class="category_nav">
        <div class="category_nav-div">
          <img src="/assets/files/down-arrow-small.svg" alt="previous-button" />
        </div>
        <div class="category_nav-div2">
          <img src="/assets/files/down-arrow-small.svg" alt="next-button" />
        </div>
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/custom.js"></script>
  </body>
</html>
