<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
    <meta
    name="pages"
    content="<%= (locals.questions && locals.questions.pages)? locals.questions.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.questions && locals.questions.pages)? locals.questions.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.questions && locals.questions.pages)? locals.questions.page : '' %> "
  />
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="category">
      <section class="container-fluid category_jumbotron">
        <div class="row">
          <div class="col-12 category_jumbotron-div">
            <h2>Previous Questions</h2>
            <p>Have a look at the questions asked by some of our users</p>
            <a href="/new-question">Ask new question</a>
          </div>
        </div>
      </section>
      <section class="category_grid">
        <div class="category_grid-main">
          <% if (locals.questions && locals.questions.data && locals.questions.data.length > 0) {%> 
          <% locals.questions && locals.questions.data.map((el, id)=> { %>
            <div class="category_grid-main-div">
            <div class="category_grid-main-div-meta">
              <div class="category_grid-main-div-meta-div">
                <div class="category_grid-main-div-meta-div-date">
                  <p>28 <br />FEB</p>
                </div>
                <div class="category_grid-main-div-meta-div-title">
                  <h3 class="category-post-title"><%= el.title || "N/A"  %> </h3>
                  <p class="category-post-author">by <%= el.firstName || "N/A"  %> <%= el.lastName || "N/A"  %> 
                    <a href="/ask-ea/category/<%= el.category.slug %>">| Category: <%= el.category.name || "N/A"  %></a></p>
                </div>
              </div>
              <p class="category_grid-main-div-meta-desc"><%= el.body || "N/A"  %></p>
              <a href="/ask-ea/<%= el._id %>" class="category_grid-main-div-meta-cta">Read More</a>
            </div>
          </div>
          <% }) %> 
          <% } else { %>
            <p style="text-align: center;">No questions available. <a href="new-question">Be the first to ask a question</a></p>
         <% } %> 
        </div>
        <div class="category_grid-side">
          <div class="category_grid-side-ads">
            <img src="https://enrolled-public.s3.amazonaws.com/assets/files/13061.webp" alt="enrolled-agent" />
          </div>
          <div class="category_grid-side-recent">
            <h4>Recent Articles</h4>
            <% if(locals.latestArticle.length > 0) { %>
              <% locals.latestArticle.map((el,id) => { %>
                <div class="category_grid-side-recent-div">
                  <a href="/blog/<%= el._id %>">
                    <h5 style="font-weight: bold;" class="mb-10"><%= el.title %></h5>
                    <div class="category_grid-side-recent-div-truncate"> <%- el.body %></div>
                    <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
                  </a>
                </div>
              <% }) %> 
            <%} else {%>
              <p>No recent article available</p>
            <%}%> 
          </div>
          <div class="category_grid-side-ads">
            <img src="https://enrolled-public.s3.amazonaws.com/assets/files/13061.webp" alt="enrolled-agent" />
          </div>
        </div>
      </section>
      <section class="category_nav">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <% const { questions: {page, pages, perPage, total}} = locals %>
            <p> Showing
              <span id="resNumber"> <%= (((page || 0) -1) * (perPage || 0))+ 1 || 0%> to 
                <%= Math.min((page || 1) * (perPage || 0), total) || 0%> of <%= total || 0%> entries
              </span>
            </p>
            </div>
            <% if(locals.questions && locals.questions.data && locals.questions.pages > 1){ %> 
            <div class="col-md-9">
              <div class="col-md-6 b-tons">
                <nav class="MyPagination">
                  <ul class="pagination">
                    <ul id="pagination" class="pagination-sm"></ul>
                  </ul>
                </nav>
              </div>
            </div>
            <% } %> 
          </div>
        </div>
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
    <script src="/javascripts/pagination.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
