<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="category">
      <section class="container-fluid category_jumbotron">
        <div class="row">
          <div class="col-12 category_jumbotron-div">
            <h2>View Question</h2>
            <p>Have a look at questions asked by some of our users</p>
            <a href="/new-question">Ask new question</a>
            <a href="/ask-ea" class="ml-20">View Previous Questions</a>
          </div>
        </div>
      </section>
      <section class="category_grid">
        <div class="category_grid-main">
            <div class="category_grid-main-div" style="border-bottom: none;">
            <div class="category_grid-main-div-meta">
              <div class="category_grid-main-div-meta-div">
                <div class="category_grid-main-div-meta-div-date">
                  <p>28 <br />FEB</p>
                </div>
                <div class="category_grid-main-div-meta-div-title">
                  <h3 class="category-post-title"><%= locals.question.title || "N/A"  %> </h3>
                  <p class="category-post-author">by <%= locals.question.firstName || "N/A"  %> <%= locals.question.lastName || "N/A"  %> 
                </div>
              </div>
              <p class="category_grid-main-div-meta-desc"><%= locals.question.body || "N/A"  %></p>
              <div class="category_grid-main-div-meta-answer">
                  <% if (locals.question.answer !== undefined) { %>
                    <h4>Answer</h4> 
                    <p>Answer body goes here</p>
                    <p><span>Answer by:</span> Enrolled Agents</p>
                  <%} else { %>
                    <p>This question has not been answered. Are you an Enrolled Agent? 
                        <a <% if(locals.isAuthenticated) {%> href="/dashboard/submit-answer/<%= locals.question._id %> "
                        <%}%> href="/login">Click here to answer</a></p>
                  <%}%> 
                  
              </div>
            </div>
          </div>
          
        </div>
        <div class="category_grid-side">
          <!-- <div class="category_grid-side-archives">
            <h4>Archives</h4>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
          </div> -->
          <div class="category_grid-side-ads">
            <img src="/assets/files/13061.webp" alt="enrolled-agent" />
          </div>
          <div class="category_grid-side-recent">
            <h4>Recent Articles</h4>
            <% if(locals.latestArticle.length > 0) { %>
              <% locals.latestArticle.map((el,id) => { %>
                <div class="category_grid-side-recent-div">
                  <a href="/blog/<%= el._id %>">
                    <h5 style="font-weight: bold;" class="mb-10"><%= el.title %></h5>
                    <p class="category_grid-side-recent-div-truncate"> <%- el.body %></p>
                    <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
                  </a>
                </div>
              <% }) %> 
            <%} else {%>
              <p style="text-align: center;">No recent article available</p>
            <%}%> 
          </div>
          <div class="category_grid-side-ads">
            <img src="/assets/files/13061.webp" alt="enrolled-agent" />
          </div>
        </div>
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/custom.js"></script>
  </body>
</html>
