<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
      <meta
    name="pages"
    content="<%= (locals.articles && locals.articles.pages)? locals.articles.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.articles && locals.articles.pages)? locals.articles.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.articles && locals.articles.pages)? locals.articles.page : '' %> "
  />
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="blog">
      <div class="blog__section--main">
        <% if(locals.featuredArticle) {%>
          <div id="blog-main" class="blog__main" bg-img="<%= locals.featuredArticle.imageUrl %>">
          <div class="blog__main--items">
            <div class="blog__main--article">
              <div class="blog__main--article-name">
                <span class="blog-color-text-sky"><%= locals.featuredArticle.category.name %></span> / 
                <%- locals.dayjs(locals.featuredArticle.createdAt).format("MMM D, YYYY") %> / By <%= locals.featuredArticle.author || "" %>
              </div>
              <div class="blog__main--article-head"><%= locals.featuredArticle.title %> </div>
              <hr id="article-rule" class="blog__main--article-underline" />
              <div id="blog-article-body" class="blog__main--article-body"> <%- locals.featuredArticle.body %>
              </div>
            </div>
          </div>
        </div>
       <% }%> 
        
        <div class="blog__articles">
          <div class="blog__articles--head">
            <div class="blog__articles--head-item">
              <div class="blog__articles--head-head">Latest Articles</div>
              <div class="blog__articles--head-text">Interesting articles on tax-related issues and finance</div>
            </div>
            <hr class="blog__articles--head-rule" />
          </div>
          <% if (locals.articles.total > 0) { %>
          <div class="blog__article">
            <% locals.articles.data.map((e,id) => { %>
            <div class="blog__article--card">
              <div class="blog__article--image">
                <img src=<%=e.imageUrl || "/assets/images/blog_fallback.jpeg"%> alt="article image" class="blog__article--image-img" />
              </div>
              <div class="blog__article--head"><%= e.title || "N/A"%></div>
              <div class="blog__article--details">
                <span style="color: #5082f6"><%= e.category.name|| "N/A"%></span> / <%- locals.dayjs(e.createdAt).format("MMM DD, YYYY") %> / By <%= e.author || "Enrolled Agents"%>
              </div>
              <div class="blog__article--body"><%- e.body || "N/A"%></div>
              <div class="blog__article--button">
                <a href="/blog/<%= e._id %> " class="blog__article--button-btn">
                  Read More
                  <span class="blog-btn-right-angle">
                    <img src="/assets/images/blog/right-arrow.svg" class="read-more-btn" />
                  </span>
                </a>
                <hr class="blog__article--button-rule" />
              </div>
            </div>
            <% }) %>
          </div>
          <%} else { %>
          <p>No articles available</p>
          <%}%>
          <div class="row">
              <% if(locals.articles && locals.articles.data && locals.articles.data.length > 0){ %>
              <div class="col-md-3">
                <% const { page, pages, perPage, total} = locals.articles %>
                    <p> showing
                      <span id="resNumber"> <%= (((page || 0) -1) * (perPage || 0))+ 1 || 0%> to 
                        <%= Math.min((page || 1) * (perPage || 0), total) || 0%> of <%= total || 0%> entries
                      </span>
                    </p>
              </div>
              <% } %> 
              <% if(locals.articles && locals.articles.data && locals.articles.pages > 1){ %>
              <div class="col-md-9 b-tons">
                <nav class="MyPagination">
                  <ul class="pagination">
                    <ul id="pagination" class="pagination-sm"></ul>
                  </ul>
                </nav>
              </div>
              <% } %> 
            </div>
        </div>
      </div>
      <div class="blog__sidebar">
        <div class="blog__sidebar--section">
          <div class="blog__sidebar--head">
            <div class="blog__sidebar--head-text">Latest News</div>
            <hr class="blog__sidebar--head-rule" />
          </div>
          <div class="blog__news--section">
            <% if (locals.latestArticle.length > 0) { %>
              <% locals.latestArticle.map((el,id) => { %>
                <a href="/blog/<%= el._id %>" class="blog__news">
              <div class="blog__news--image">
                <img
                  src=<%= el.imageUrl || "/assets/images/blog_fallback.jpeg"%> 
                  alt="news image"
                  class="blog__news--image-img"
                />
              </div>
              <div class="blog__news--text">
                <div class="blog__news--text-head"><%= el.title %> </div>
                <div class="blog__news--text-details">
                  <span class="blog-color-text-sky"><%= el.category.name || "N/A" %> </span> / <%- locals.dayjs(el.createdAt).format("MMM DD, YYYY") %> / By Enrolled Agents 
                </div>
              </div>
            </a>
              <% }) %> 
            
            <%} else { %>
          <p>No articles available</p>
          <%}%>
          </div>
        </div>
        <div class="blog__sidebar--section blog__sidebar--section-head">
          <div class="blog__sidebar--head">
            <div class="blog__sidebar--head-text">ADS</div>
            <hr class="blog__sidebar--head-rule" />
          </div>
          <div class="blog__ad--section">
            <div class="blog__ad">
              <div class="blog__ad--image">
                <img
                  src="https://enrolled-public.s3.amazonaws.com/assets/images/blog/ads1.webp"
                  alt="advert image"
                  class="blog__ad--image-img"
                />
              </div>
              <div class="blog__ad--text">Lorem ipsum dolor</div>
            </div>
            <div class="blog__ad">
              <div class="blog__ad--image">
                <img
                  src="https://enrolled-public.s3.amazonaws.com/assets/images/blog/ads2.webp"
                  alt="advert image"
                  class="blog__ad--image-img"
                />
              </div>
              <div class="blog__ad--text">Lorem ipsum dolor</div>
            </div>
            <div class="blog__ad">
              <div class="blog__ad--image">
                <img
                  src="https://enrolled-public.s3.amazonaws.com/assets/images/blog/ads1.webp"
                  alt="advert image"
                  class="blog__ad--image-img"
                />
              </div>
              <div class="blog__ad--text">Lorem ipsum dolor</div>
            </div>
            <div class="blog__ad">
              <div class="blog__ad--image">
                <img
                  src="https://enrolled-public.s3.amazonaws.com/assets/images/blog/ads2.webp"
                  alt="advert image"
                  class="blog__ad--image-img"
                />
              </div>
              <div class="blog__ad--text">Lorem ipsum dolor</div>
            </div>
          </div>
          
        </div>


      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
    <script src="/javascripts/pagination.js"></script>
    <script type="text/javascript" src="/js/blog-page.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
