<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  <meta
    name="pages"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.page : '' %> "
  />

  <body id="ea-listings">
    <% function capitalizeFirstLetter(str) {%> <% str=str.toLowerCase().split(' '); %> <% for (var i
    = 0; i < str.length; i++) {%> <% str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); %>
    <% } %> <% return str.join(' '); %> <% } %> <%- include("./partials/header.ejs") %>

    <section id="ea-listings-top">
      <div class="container">
        <h1>Search Results</h1>
        <%if(locals.city && locals.city.name){%>
        <p>
          Showing all enrolled agents in <%= capitalizeFirstLetter(locals.city.name) %>, <%=
          capitalizeFirstLetter(locals.city.state) %>
        </p>
        <% } else {%>
        <p>No agents found</p>
        <% } %>
      </div>
    </section>

    <!-- <section id="input">
        <div class="container">
          <div class="row">
            <div class="row-1.col-md-4"> 
              <div class="input-text col-md-8">
                <p>search:</p>
                <input type="text" name="search" id="search" />
                <button onclick="searchCity()" class="btn btn-lg b-ton b-ton-blu"> Search</button>
               
              </div>
            </div>
          </div>
        </div>
      </section> -->

    <section id="premium" class="container">
      <% if (typeof locals !==' undefined' && locals.agents && locals.agents.data &&
      locals.agents.data.length> 0){%> <% locals.agents.data.map((e,id)=> { %>
      <div class="row premium-box">
        <div class="col-md-4 col-sm-12">
          <div class="img col-md-5">
            <img src="/assets/files/person-img.png" alt="rating" />
          </div>
          <div class="txt col-md-7">
            <h3><%= e.firstName %> <%= e.lastName %></h3>
            <p><%= e.city %></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mid-div">
          <h4>Premium Member</h4>
          <p><img src="/assets/files/star-rating.png" alt="" /> <span> 2 reviews</span></p>
        </div>
        <div class="col-md-4 col-sm-12 b-tons">
          <a href="/agent/<%= e._id %>" class="btn btn-lg btn-blu mt-2"> View profile</a>
          <a href="" class="btn btn-lg btn-wht mt-2"> Website</a>
        </div>
      </div>
      <% })} %>
    </section>

    <section id="bottom">
      <div class="container contain">
        <div class="row">
          <div class="col-md-3">
            <a href="/ea-listings" class="btn btn-lg b-ton b-ton-blu"> View All EAs</a>
          </div>
          <div class="col-md-3">
            <% if(locals.agents && locals.agents.data && locals.agents.data.length > 0){ %> <% const
            { agents: {page, pages, perPage, total}, query} = locals %>
            <p>
              showing<span id="resNumber">
                <%= (((page || 0) -1) * (perPage || 0))+ 1 || 0%> to <%= Math.min((page || 1) *
                (perPage || 0), total) || 0%> of <%= total || 0%> entries</span
              >
            </p>
            <% } else { %>
            <p>
              No Agents found in
              <span id="resNumber"> in <%= capitalizeFirstLetter(locals.city.name) %> </span>
            </p>
            <% } %>
          </div>
          <div class="col-md-6 b-tons">
            <!-- <div class="a btn b-ton-1 b-ton col-md-3 mt-5">← previous</div>
            <div class="a btn b-ton b-ton-2 col-md-1 mt-5">1</div>
            <div class="a btn b-ton b-ton-3 col-md-1 mt-5">2</div>
            <div class="a btn b-ton b-ton-4 col-md-1 mt-5">3</div>
            <div class="a btn b-ton b-ton-5 col-md-1 mt-5">4</div>
            <div class="a btn b-ton b-ton-6 col-md-1 mt-5">5</div>
            <div class="a btn b-ton-7 col-md-2 b-ton mt-5">next →</div> -->
            <nav class="MyPagination">
              <ul class="pagination">
                <ul id="pagination" class="pagination-sm"></ul>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>
    <!-- <script>
                function generateSlug(text) {
                  let slug = String(text)
                  if (!slug) return
                  slug = slug
                    .replace(/[^a-zA-Z ]/g, "")
                    .trim()
                    .replace(' ', ' -').toLowerCase().replace(' ', ' -').replace(' ', ' -');
                  return slug
                } function
                  searchCity() {
                  const search = document.getElementById('search').value; if (search && search.length > 0)
                    window.location.assign('/find/' + generateSlug(search))
                }

              </script> -->
    <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
    <script src="/javascripts/pagination.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
