<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  <meta
    name="pages"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.page : '' %> "
  />

  <body onload="onload()" id="ea-listings">
    <%- include("./partials/header.ejs") %>

    <section id="ea-listings-top">
      <div class="container">
        <h1>EA Listings</h1>

        <p>View all Tax Experts listings</p>
      </div>
    </section>

      <section id="input">
        <div class="container">
          <div class="row">
            <div class="row-1.col-md-4"> 
              <div class="input-text col-md-8">
                <p>search:</p>
                <input type="text" name="search" id="search" />
                <button onclick="search()" class="btn btn-lg b-ton search-btn b-ton-blu"> Search</button>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="premium" class="container">
      <% if( typeof locals.agents !=='undefined' && locals.agents.data && locals.agents.data.length > 0) { %> 
      <% locals.agents.data.map((e,id)=> { %> 
      <% const {firstName, lastName, _id, city, reviewCount, premium, imageUrl, rating } = e %>
      <div class="row premium-box">
        <div class="col-md-4 col-sm-12">
          <div class="img col-md-5">
            <img src=<%= imageUrl || "/assets/images/avatar.webp" %>  alt="rating" />
          </div>
          <div class="txt col-md-7">
            <h3><%= firstName %> <%= lastName %></h3>
            <p><%= city %></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mid-div">
          <% if(premium) { %>
            <h4>Premium Member</h4>
          <%}%>
          <p>
            <div class="stars-outer" id="client-stars" value="<%= rating || 0 %>" >
              <div class="stars-inner"></div>
            </div>
            <span> <%= reviewCount %> reviews </span>
          </p>
        </div>
        <div class="col-md-4 col-sm-12 b-tons">
          <a href="/agent/<%= _id %>" class="btn btn-lg btn-blu mt-2"> View profile</a>
          <!-- <a href="" class="btn btn-lg btn-wht mt-2"> Website</a> -->
        </div>
      </div>
      <% })} else { %>
      <div>
        <p>There were 0 results found for your search critera.</p>
      </div>
      <% } %>
    </section>

    
    <section id="bottom">
      <div class="container contain">
        <div class="row">
          <div class="col-md-3">
            <a href="/ea-listings" class="btn btn-lg b-ton b-ton-blu"> View All EAs</a>
          </div>
          <% if(locals.agents && locals.agents.data && locals.agents.data.length > 0){ %> 
            <div class="col-md-3">
              <% if( typeof locals.agents !=='undefined' && locals.agents) { %> 
              <% const {perPage, pages, page, total }=locals.agents %> 
              <% const start=(perPage * page) - perPage +1 %> 
              <% const end=start + perPage -1 %>
              <p>showing <%= start || 0%> to <%= end || 0%> of <%= total || 0%> entries</p>
              <% } %>
            </div>
          <% } %> 
          <% if(locals.agents && locals.agents.data && locals.agents.pages > 1){ %> 
          <div class="col-md-6 b-tons">
            <nav class="MyPagination">
              <ul class="pagination">
                <ul id="pagination" class="pagination-sm"></ul>
              </ul>
            </nav>
          </div>
          <% } %> 
        </div>
      </div>
    </section>
    
    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <script src="/js/main.js"></script>

    <script>
      function search() {
        const input = document.getElementById("search").value;
        window.location = `?search=${input}`;
      }
      function onload() {
        const input = document.getElementById("search");
        const urlParams = new URLSearchParams(window.location.search);
        const _search = urlParams.get("search");
        input.value = _search;
        input.addEventListener("keyup", function (event) {
          // Number 13 is the "Enter" key on the keyboard
          if (event.keyCode === 13) {
            search();
          }
        });
        // console.log(_search)
      }
    </script>
     <script>
      const clientStars = document.querySelectorAll("#client-stars");
      clientStars.forEach((clientStar) => {
        const val = clientStar.getAttribute("value");
        const starTotal = 5;
       
        const starPercentage = (val / starTotal) * 100;
        const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
        clientStar.querySelector(".stars-inner").style.width = starPercentageRounded;
      });
    </script>
    <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
    <script src="/javascripts/pagination.js"></script>
  </body>
</html>
