<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  <meta
    name="pages"
    content="<%= (locals.faqs && locals.faqs.pages)? locals.faqs.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.faqs && locals.faqs.pages)? locals.faqs.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.faqs && locals.faqs.pages)? locals.faqs.page : '' %> "
  />

  <body onload="onload()" id="ea-listings">
    <%- include("./partials/header.ejs") %>

    <section id="ea-listings-top">
      <div class="container">
        <h1>Frequently Asked Questions</h1>
        <p>Browse through our list of frequently asked questions</p>
      </div>
    </section>
 
    <section id="premium" class="container pt-100 pb-100 faq-container">
      <div class="faq-container-div1">
        <h3>Getting Started</h3>
        <% if( typeof locals.faqs !=='undefined' && locals.faqs.data && locals.faqs.data.length > 0) { %>
          <% locals.faqs.data.map((e,id)=> { %> 
          <% const {title, _id } = e %>
          <a href="/frequently-asked-questions/<%= _id %> "> <%= title %> </a>
          <% })} else { %>
            <p>No FAQs available!</p>
          <% } %>
      </div>
      <div class="faq-container-div2">
        <% if (id) { %>
          <h3><%= locals.faq.title %></h3>
          <p><%- locals.faq.message %></p>
        <% } else { %>
          <h2>FAQs</h2>
          <p class="faq-text">Welcome to our FAQ series, designed to help you get the most out of your Enrolled Agent account.</p>
          <a href="/contact" class="faq-btn">Contact Us For Assistance</a>
        <% } %> 
        
      </div>
    </section>
    
    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <script src="/js/main.js"></script>

  </body>
</html>
