<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="page-15">
    <%- include("./partials/header.ejs") %>

    <section id="local-agent-top">
      <div class="container">
        <div class="row home-section-top">
          
          <h2>Find A Local Enrolled Agent</h2>
          <p class="desc">
            Enter your zip code to find an Enrolled Agent in your area
          </p>
          <div class="home-section-top-input-div">
            <div class="row home-section-top-input-div-form">
            <div class="input">
              <input type="text" placeholder="Enter zip code" id="zipInput" />
            </div>
            <div class="home-section-top-input-div-3" id="mobile__dropdown">
                  <div class="home-section-top-input-div-3-select">
                    <select id="select">
                      <option id="zip" value="zip" selected onclick="selectSearchType('zip')">Zip Code</option>
                      <option id="state" value="state" onclick="selectSearchType('zip')">State</option>
                    </select>
                  </div> 
                  
                  <img src='/images/flat-color-icons-svg/expand.svg' style="width:10px; left: -10px;"/>
                  <input type="text" id="zipInputMobile" placeholder="Enter your zip code*" required />
                  <br/>
                </div>
                <input type="text" placeholder="Enter Lastname" id="lastNameInputMobile">
                
            <button class="btn2" id="submitBtn" type="button" onclick="handleFindButtn()">Find</button>
            </div>
            <div class="input" id="lastNameInputDiv">
              <input type="text" placeholder="Enter Lastname" id="lastNameInput">
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section id="section-2" class="mt-100 mb-150">
      <div class="img">
        <img src="/assets/files/section-2-img.webp" 
        alt="Enrolled Agents" />
      </div>
      <div class="text">
        <h3>Want to save big on taxes?</h3>
        <p class="normal-text">
          The form of business structure you have determines how you will be taxed by the IRS. <br />Use
          this free tax calculator to estimate your tax savings.
        </p>
        <p class="mobile-text">
          The form of business structure you have determines how you will be taxed by the IRS. Use
          this free tax calculator to estimate your tax savings.
        </p>

        <a href="" class="btn b-ton-blu">Find out Now 
          <span class="">
              <img alt="" src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span>
        </a>
      </div>
    </section>

    <!-- popular cities section -->
    <%- include("./partials/cities.ejs") %>

    <section id="team" class="bg-silver-light">
      <div class="container pb-50">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase title">Top Rated Enrolled Agents</h2>
              <p class="desc">Licensed and Verified Tax Experts</p>
            </div>
          </div>
        </div>
        <div class="section-content team">
          <div class="row">
            <% if(locals.popular && locals.popular.length> 0){ %> 
            <% locals.popular.map((e, id)=> { %>
            <div class="col-sm-6 col-md-3">
              <div class="single-member maxwidth400 mb-30">
                <div class="team-thumb">
                  <img src=<%= e.imageUrl || "/assets/images/avatar.webp" %>
                  alt="agent-avatar" class="img-fullwidth" />
                  <h4 class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0">
                    <%= e.firstName %> <%= e.lastName %>
                    <span class="text-white font-12 ml-5 small"></span>
                  </h4>
                </div>
                <div class="team-bottom-part bg-white p-15 team-bottom">
                  <p class="mb-10 team-bottom-name">
                    <%= e.city %>, <%= e.state %>
                  </p>
                  <div class="team-bottom-flex">
                    <div class="team-bottom-flex-div1">
                      <div class="stars-outer" value=<%=e.rating || 0 %>>
                        <div class="stars-inner"></div>
                      </div>
                      <p><%= e.reviewCount %> Reviews</p>
                    </div>
                    <div class="team-bottom-flex-div2">
                      <a href="/agent/<%= e._id %>">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% })} %>
          </div>
          <div class="row team-link-div">
            <a href="/find-agent" class="team-link"
              >Find More Local EAs
              <span class="">
                <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/resources.ejs") %>

    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <!-- <script type="text/javascript" src="/javascripts/findAgent.js"></script> -->
    <script type="text/javascript" src="/javascripts/findAgent.js"></script>
    <script src="/js/main.js"></script>

    <script>
      const rateStars = document.querySelectorAll(".stars-outer");
      rateStars.forEach((rateStar) => {
        const val = rateStar.getAttribute("value");
        const starTotal = 5;
        const starPercentage = (val / starTotal) * 100;
        const starPercentageRounded = `${ Math.round(starPercentage / 10) * 10 }%`;
        rateStar.querySelector(".stars-inner").style.width = starPercentageRounded;
      });
    </script>
    <script>
      function selectSearchType(type) {
        searchType = type;
      }
    </script>
    <script>
      function handleFindButtn() {
              let zipCode = '';
              let lastName  = '';
              if($('#zipInput').val()) {
                zipCode = $('#zipInput').val().split(',')[2].trim()
              }
              if($('#lastNameInput').val()) {
                lastName = $('#lastNameInput').val();
              }
              let url = window.location.href;
              url = `search-results?q=zipcode:${zipCode},lastName:${lastName}`;
              window.location.href = url
            }
    </script>
    
    <script type="text/javascript" src="/javascripts/city.js"></script>
  </body>
</html>
