<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="page-15">
    <%- include("./partials/header.ejs") %>

    <section id="local-agent-top">
      <div class="container">
        <div class="row home-section-top">
          <h2>Find A Local Enrolled Agent</h2>
          <p class="desc">
            Enter your zip code to find an Enrolled Agent in your area
          </p>
          <div class="row home-section-top-input-div">
            <div class="dropdown">
              <button
                class="btn btn1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Zip Code
              </button>
              <div
                class="dropdown-menu"
                id="search__dropdown"
                aria-labelledby="dropdownMenuButton"
              >
                <p id="zip">Zip Code</p>
                <p id="state">State</p>
              </div>
            </div>
            <div class="input">
              <input type="text" placeholder="Enter zip code" id="zipInput" />
            </div>
            <button class="btn2" id="submitBtn">Find</button>
            <!-- <button class="btn3">Advanced Search</button> -->
          </div>
        </div>
      </div>
    </section>

    <section id="section-2" class="mt-100 mb-150">
      <div class="img">
        <img src="https://enrolled-public.s3.amazonaws.com/assets/files/section-2-img.webp" 
        alt="Enrolled Agents" />
      </div>
      <div class="text">
        <h3>Want to save big on taxes?</h3>
        <p>
          The form of business structure you have determines how you will be taxed by the IRS. <br />Use
          this free tax calculator to estimate your tax savings.
        </p>

        <a href="" class="btn b-ton-blu">Find out Now 
          <span class="">
              <img alt="" src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span>
        </a>
      </div>
    </section>

    <!-- popular cities section -->
    <%- include("./partials/cities.ejs") %>

    <section id="team" class="bg-silver-light">
      <div class="container pb-50">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase title">Top Rated Enrolled Agents</h2>
              <p class="desc">Licensed and Verified Tax Experts</p>
            </div>
          </div>
        </div>
        <div class="section-content team">
          <div class="row">
            <% if(locals.popular && locals.popular.length> 0){ %> 
            <% locals.popular.map((e, id)=> { %>
            <div class="col-sm-6 col-md-3">
              <div class="single-member maxwidth400 mb-30">
                <div class="team-thumb">
                  <img src=<%= e.imageUrl || "https://enrolled-public.s3.amazonaws.com/assets/images/avatar.webp" %>
                  alt="agent-avatar" class="img-fullwidth" />
                  <h4 class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0">
                    <%= e.firstName %> <%= e.lastName %>
                    <span class="text-white font-12 ml-5 small"></span>
                  </h4>
                </div>
                <div class="team-bottom-part bg-white p-15 team-bottom">
                  <p class="mb-10 team-bottom-name">
                    <%= e.city %>, <%= e.state %>
                  </p>
                  <div class="team-bottom-flex">
                    <div class="team-bottom-flex-div1">
                      <div class="stars-outer" value=<%=e.rating || 0 %>>
                        <div class="stars-inner"></div>
                      </div>
                      <p><%= e.reviewCount %> Reviews</p>
                    </div>
                    <div class="team-bottom-flex-div2">
                      <a href="/agent/<%= e._id %>">View Profile</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% })} %>
          </div>
          <div class="row team-link-div">
            <a href="/find-agent" class="team-link"
              >Find More Local EAs
              <span class="">
                <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/resources.ejs") %>

    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="https://enrolled-public.s3.amazonaws.com/javascripts/findAgent.js"></script>
    <script src="https://enrolled-public.s3.amazonaws.com/js/main.js"></script>

    <script>
      const rateStars = document.querySelectorAll(".stars-outer");
      rateStars.forEach((rateStar) => {
        const val = rateStar.getAttribute("value");
        const starTotal = 5;
        const starPercentage = (val / starTotal) * 100;
        const starPercentageRounded = `${
          Math.round(starPercentage / 10) * 10
        }%`;
        rateStar.querySelector(
          ".stars-inner"
        ).style.width = starPercentageRounded;
      });
    </script>
  </body>
</html>
