<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="page-15">
    <%- include("./partials/header.ejs") %>

    <section id="local-agent-top">
      <div class="container">
        <div class="row home-section-top">
          <h2>Find A Local Enrolled Agent</h2>
          <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
          <div class="row home-section-top-input-div">
            <div class="dropdown">
              <button
                class="btn btn1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Zip Code
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p id="zip">Zip Code</p>
                <p id="state">State</p>
              </div>
            </div>
            <div class="input">
              <input type="text" placeholder="Enter zip code" id="zipInput" />
            </div>
            <button class="btn2" id="submitBtn">Find</button>
            <!-- <button class="btn3">Advanced Search</button> -->
          </div>
        </div>
      </div>
    </section>

    <section id="section-2">
      <div class="img">
        <img src="/assets/files/section-2-img.png" alt="" />
      </div>
      <div class="text">
        <h3>Lorem ipsum dolor sit amet, consetetur sadip</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusamundefined nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusamundefined
        </p>

        <a href="" class="btn b-ton-blu">Become An Expert <span>></span></a>
      </div>
    </section>

    <!-- popular cities section -->
    <%- include("./partials/cities.ejs") %>

     

    <section class="top-rated ">
      <h3>Top Rated Enrolled Agents</h3>
      <p>Licensed And Verified Enrolled Agents</p>
      <div class="section-content team ">
        <div class="row container pb-50">
          <% if(locals.popular && locals.popular.length> 0){ %>
            <% locals.popular.map((e, id)=> { %>
          <div class="container pb-50"> <div class="col-sm-6 col-md-3">
            <div class="single-member maxwidth400 mb-30">
              <div class="team-thumb">
                <img src="/assets/files/18270627@2x.png" alt="" class="img-fullwidth" />
                <h4 class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0">
                  <%= e.firstName %> <%= e.lastName %> <span class="text-white font-12 ml-5 small"></span>
                </h4>

              </div>
              <div class="team-bottom-part bg-white p-15 team-bottom">
                <p class="mb-10 team-bottom-name"><%= e.city %>, <%= e.state %></p>
                <div class="team-bottom-flex">
                  <div class="team-bottom-flex-div1">
                    <img src="/assets/files/stars.svg" alt="" class="img-fullwidth" />
                    <p>2 Reviews</p>
                  </div>
                  <div class="team-bottom-flex-div2">
                    <a href="/agent/<%= e._id %>">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% })} %>
         
        </div>
      </div>

    
    </section>

    <%- include("./partials/resources.ejs") %>

 

    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="/javascripts/findAgent.js"></script>
    <script src="/js/custom.js"></script>

    <script>
      // function search() {
      //   const input = document.getElementById("search").value;
      //   window.location = `/ea-listings/?search=${input}`;
      // }
      // function onload() {
      //   const input = document.getElementById("search");
      //   const urlParams = new URLSearchParams(window.location.search);
      //   const _search = urlParams.get("search");
      //   input.value = _search;
      //   input.addEventListener("keyup", function (event) {
      //     // Number 13 is the "Enter" key on the keyboard
      //     if (event.keyCode === 13) {
      //       search();
      //     }
      //   });
      //   // console.log(_search)
      // }
    </script>
  </body>
</html>
