<!DOCTYPE html>
<html dir="ltr" lang="en">
<%- include("./partials/homeHead.ejs") %>
<style>
  .ccc-vidsvc-wrapper-outer {
          display: inline-block;
          /* margin: 50px 0; */
          justify-content: center;
          align-items: center;
   }
  </style>
  <script>
    setTimeout(function(){
      var oScript = document.createElement("script");
                       oScript.src = "https://widget.resourcesforclients.com/taxvid/tv.js?u=EWQnSrF7zKH2";
      document.getElementById("widget").appendChild(oScript);
    },8000)
    //Opens up the playlist video list
    setTimeout(function(){
      if ($("#ccc-vidsvc-wrapper-playlist").is(":hidden")) {
        $("#ccc-vidsvc-wrapper-playlist").removeClass('hidden').slideDown("slow");
          $("#ccc-vidsvc-playlist-arrow").addClass("fa-rotate-90");
          $("#ccc-vidsvc-wrapper-player").addClass("move-left");

        }
      },20000)
  </script>
  <body class="home-body">
    
    <div id="wrapper" class="clearfix home">
      <%- include("./partials/header.ejs") %>
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: home -->
        <section id="home">
          <div class="container-fluid p-0">
            <!-- START REVOLUTION SLIDER 5.0.7 -->
            <div
              id="rev_slider_home_wrapper"
              class="rev_slider_wrapper"
              data-alias="news-gallery34"
              style="
                margin: 0px auto;
                background-color: #ffffff;
                padding: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
              <div
                id="rev_slider_home"
                class="rev_slider fullwidthabanner"
                style="display: none"
                data-version="5.0.7"
              >
                <ul>
                  <!-- SLIDE 1 -->
                  <li
                    data-index="rs-1"
                    data-transition="fade"
                    data-slotamount="default"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="default"
                    data-thumb="/images/bg/bg1.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-saveperformance="off"
                    data-title="Web Show"
                    data-description=""
                  >
                    <!-- MAIN IMAGE -->
                    <img
                      src="/assets/files/13061.webp"
                      alt="What Does an Enrolled Agent do"
                      data-bgposition="center 30%"
                      data-bgfit="cover"
                      data-bgrepeat="no-repeat"
                      data-bgparallax="10"
                      class="rev-slidebg"
                      data-no-retina
                    />
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div
                      class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
                      id="slide-1-layer-1"
                      data-x="[' center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
        data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
        data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500"
        data-basealign="slide" data-responsive_offset="on" style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.7)!important;
                      ">
        </div>
        </li>
        <!-- SLIDE 2 -->
        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default"
          data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg2.jpg" data-rotate="0"
          data-fstransition="fade" data-saveperformance="off" data-title="Web Show" data-description="">
          <!-- MAIN IMAGE -->
          <img alt="Find a Tax Professional" src="/assets/officialAssets/22.webp"  data-bgposition="center center" data-bgfit="cover"
            data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina />
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
            id="slide-2-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
            data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500"
            data-basealign="slide" data-responsive_offset="on" style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.7)!important;
                      "></div>
        </li>
        <!-- SLIDE 3 -->
        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default"
          data-easeout="default" data-masterspeed="default" data-thumb="/images/bg/bg3.jpg" data-rotate="0"
          data-fstransition="fade" data-saveperformance="off" data-title="Web Show" data-description="">
          <!-- MAIN IMAGE -->
          <img alt="IRS Enrolled Agent Search" src="/assets/officialAssets/11.webp" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat"
            data-bgparallax="10" class="rev-slidebg" data-no-retina />
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
            id="slide-3-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
            data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500"
            data-basealign="slide" data-responsive_offset="on" style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.7)!important;
                      "></div>
        </li>
        </ul>
        </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
        </div>

        <section class="home-section">
          <div class="container">
            <div class="row home-section-top">
              <h1>Find Your Next Enrolled Agent </h1>
              <p class='desc'>Browse through our directory of over 60,000 professionals and engage them for free.
              </p>

              <div class="row home-section-top-input-div">
                <div class="home-section-top-input-div-1">
                  <div class="input">
                    <input id="zipInput" type='text' placeholder="Enter a ZIP Code OR City & State" />
                  </div>
                  <div class="input">
                    <input type="text" placeholder="Enter Lastname" id="lastNameInput">
                  </div>
                </div>
                <div class="home-section-top-input-div-3" id="mobile__dropdown">
                  <div class="home-section-top-input-div-3-select">
                    <select id="select">
                      <option id="zip" value="zip" selected>Zip Code</option>
                      <option id="state" value="state">State</option>
                    </select>
                  </div>
                  <img src='/images/flat-color-icons-svg/expand.svg' style="width:10px; left: -10px;" alt="What is an EA for Taxes"/>
                  <input type="text" id="zipInputMobile" placeholder="Enter your zip code*" required />
                </div>
                <div class="home-section-top-input-div-2">
                  <button id="submitBtn" class="btn2" onclick="handleFindButtn()">Find</button>
                  <!-- <a class="btn3" href='/find-agent'>Advanced Search</a> -->
                </div>
              </div>
              <div class="home-section-grid">
                <div class="card-div">
                  <div class="top">
                    <img alt="Find Tax Agent" src='/assets/files/049.svg' />
                  </div>
                  <div class="bottom">
                    <h3>60,000+</h3>
                    <p>Enrolled Agents listed and reviewed</p>
                  </div>
                </div>
                <div class="card-div">
                  <div class="top">
                    <img  src='/assets/files/048.svg' alt='EA' />
                  </div>
                  <div class="bottom">
                    <h3>Convenient</h3>
                    <p>Find an Enrolled Agent from the comfort of your home</p>
                  </div>
                </div>
                <div class="card-div">
                  <div class="top">
                    <img src='/assets/files/verified.svg' alt='Tax preparer' />
                  </div>
                  <div class="bottom">
                    <h3>Verified</h3>
                    <p>All Enrolled Agents listed are verified</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        </section>
 
        <!-- Section: Team -->
        <section id="team" class="bg-silver-light">
          <div class="container pb-50">
            <div class="section-title text-center">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="text-uppercase title">Top Rated Enrolled Agents</h2>
                  <p class="desc">Licensed and Verified Enrolled Agents</p>
                </div>
              </div>
            </div>
            <div class="section-content team">
              <div class="row">
                <% if(locals.popular && locals.popular.length> 0){ %>
                  <% locals.popular.map((e, id)=> { %>
                <div class="col-sm-6 col-md-3">
                  <div class="single-member maxwidth400 mb-30">
                    <div class="team-thumb">
                      <img  alt="Tax Assistance" src=<%= e.imageUrl || "/assets/images/avatar.webp" %> class="img-fullwidth" />
                      <h4 class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0">
                        <%= e.firstName %> <%= e.lastName %> <span class="text-white font-12 ml-5 small"></span>
                      </h4>

                    </div>
                    <div class="team-bottom-part bg-white p-15 team-bottom">
                      <p class="mb-10 team-bottom-name"><%= e.city %>, <%= e.state %></p>
                      <div class="team-bottom-flex">
                        <div class="team-bottom-flex-div1 ">
                          <div class="stars-outer" value=<%= e.rating || 0 %> >
                            <div class="stars-inner"></div>
                          </div>
                          <p><%= e.reviewCount %> Reviews</p>
                        </div>
                        <div class="team-bottom-flex-div2">
                          <a href="/agent/<%= e._id %>">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% })} %>
               
              </div>
              <div class="row team-link-div">
                <a href="/find-agent" class="team-link">Find More Local EAs
                <span class="">
                      <img alt="Find an Enrolled Agent" src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
                  </span>
                </a>
            </div>
            </div>
         </section>

         <section class="container pb-50" id="widget">
         </section>
         <br/>
        <section class="image-aside2">
          <div class="container-fluid">
            <div class="side"></div>
            <div class="flex">
              <div class="image-aside2-div1">
                <image src="/assets/images/Group+6139.webp" alt="Enrolled-agent" />
              </div>
              <div class="image-aside2-div2">
                <h2>The simplest way to search and access your next Tax Expert on the go anytime, anywhere.</h2>
                <p>Search our online directory of licensed and <a href="/license-verification">verified Enrolled Agents</a>. See details of 
                  the Enrolled Agents and find the one that best suits your needs. Read reviews from 
                  clients served to in your community. All Enrolled Agents listed have been appraised 
                  to ensure accurate profile and licensure.
                </p>
                <a href="/find-agent">Search for Your Enrolled Agent <span class="">
              <img alt=""  src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span></a>
              </div>
            </div>
            <div class="side2"></div>
          </div>
        </section>

        

        <section class="image-aside">
          <div class="container-fluid">
            <div class='side'></div>
            <div class="flex">
              <div class="image-aside-div1">
                <h2>Find the right Enrolled Agent for you</h2>
                <p>Why deal with a non-licensed Tax Expert for tax related affairs? We are here to 
                  connect you to a verified Tax Expert in your area that can handle your tax and 
                  Internal Revenue Service related issues. We will happily connect you to an Enrolled 
                  Agent for free.
                </p>
                <a href="#">Get Started <span class="">
              <img alt="" src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span></a>
              </div>
              <div class="image-aside-div2">
                <image src="/assets/images/Group+6138.webp" alt="What is Enrolled Agent" />
              </div>
            </div>
          </div>
        </section>

        <%- include("./partials/cities.ejs") %>

         <section class="form">
          <div class="container">
            <div class="row">
              <div class="col-md-5 form-div1">
                <h2>Request a call Back</h2>
                <p>
                  Please fill out the form and press the submit button. We will get back to you within
                  1-2 business days
                </p>
              </div>
              <form class="col-md-7 form-div2" id="contact-form">
                <div class="row mb-30">
                  <div class="col-sm-6 form-div2-formgroup mr-20">
                    <input type="text" placeholder="Full Name*" id="fullName" required />
                  </div>
                  <div class="col-sm-6 form-div2-formgroup">
                    <input type="email" placeholder="Email*" id="email" required />
                  </div>
                </div>
                <div class="row mb-30">
                  <div class="col-sm-6 form-div2-formgroup mr-20">
                    <input type="text" placeholder="Subject*" id="subject" required />
                  </div>
                  <div class="col-sm-6 form-div2-formgroup">
                    <input type="tel" placeholder="Phone Number*" id="phone" required/>
                  </div>
                </div>
                <div class="row mb-50">
                  <div class="col-md-12 form-div2-formtextarea">
                    <textarea placeholder="Message*" id="message" required></textarea>
                  </div>
                </div>
                <button type="submit" id="submit-btn">Submit Now
                  <span class="">
              <img alt="" src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span>
                </button>
              </form>
            </div>
          </div>
        </section>



       
         <%- include("./partials/newsletter.ejs") %>
         

         <%- include("./partials/resources.ejs") %>
      
        </div>
        <!-- end main-content -->
        <%- include("./partials/footer.ejs") %>
          </div>
          <!-- end wrapper -->

          <!-- Footer Scripts -->
          <!-- JS | Chart-->
          <script type="text/javascript">
            var tpj = jQuery;
            var revapi34;
            searchType = 'zip'
            tpj(document).ready(function () {
              if (tpj("#rev_slider_home").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_home");
              } else {
                revapi34 = tpj("#rev_slider_home")
                  .show()
                  .revolution({
                    sliderType: "standard",
                    jsFileLocation: "js/revolution-slider/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 5000,
                    navigation: {
                      keyboardNavigation: "on",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      onHoverStop: "off",
                      touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false,
                      },
                      arrows: {
                        style: "zeus",
                        enable: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp:
                          '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                        left: {
                          h_align: "left",
                          v_align: "center",
                          h_offset: 30,
                          v_offset: 0,
                        },
                        right: {
                          h_align: "right",
                          v_align: "center",
                          h_offset: 30,
                          v_offset: 0,
                        },
                      },
                      bullets: {
                        enable: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        style: "metis",
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 30,
                        space: 5,
                        tmp:
                          '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>',
                      },
                    },
                    viewPort: {
                      enable: true,
                      outof: "pause",
                      visible_area: "80%",
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [600, 550, 500, 450],
                    lazyType: "none",
                    parallax: {
                      type: "scroll",
                      origo: "enterpoint",
                      speed: 400,
                      levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                    },
                  });
              }
            }); /*ready*/
          </script>

          <script>
            function selectSearchType(type) {
              searchType = type;
            }

            function handleFindButtn() {
              let zipCode = '';
              let lastName  = '';
              if($('#zipInput').val()) {
                zipCode = $('#zipInput').val().split(',')[2].trim()
              }
              if($('#lastNameInput').val()) {
                lastName = $('#lastNameInput').val();
              }
              let url = window.location.href;
              url = `search-results?q=zipcode:${zipCode},lastName:${lastName}`;
              window.location.href = url
            }
          </script>
          <script>
              $(function() {
                $('#zipInput').autocomplete({
                  source: function(req, res) {
                    $.ajax({
                      url: `zipCodeAutoComplete/?type=${searchType}`,
                      dataType: 'jsonp',
                      type: 'GET',
                      data: req,
                      success: function(data){
                        console.log(data)
                       res(data)
                      },
                      error: function(error) {
                        console.log(error)
                      }
                    });
                  },
                  minLength: 1,
                  select: function(event, ui) {
                    console.log(ui)
                    if(ui.item) {
                      $('#zipInput').text(ui.item.label)
                    }
                  }
                });
              })

              $(function() {
                const zipCodeValue  = $('#zipInput').val();
                $('#lastNameInput').autocomplete({
                  source: function(req, res) {
                    $.ajax({
                      url: `lastNameAutoComplete/?type=${searchType}&value=${$('#zipInput').val()}`,
                      dataType: 'jsonp',
                      type: 'GET',
                      data: req,
                      success: function(data){
                        console.log(data)
                       res(data)
                      },
                      error: function(error) {
                        console.log(error)
                      }
                    });
                  },
                  minLength: 1,
                  select: function(event, ui) {
                    console.log(ui)
                    if(ui.item) {
                      $('#lastNameInput').text(ui.item.label)
                    }
                  }
                });
              })
          </script>
          <script>
            const rateStars = document.querySelectorAll(".stars-outer");
            rateStars.forEach((rateStar) => {
              const val = rateStar.getAttribute("value");
              const starTotal = 5;
              const starPercentage = (val / starTotal) * 100;
              const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
              rateStar.querySelector(".stars-inner").style.width = starPercentageRounded;
            });
          </script>
          
          <!-- <script type="text/javascript" src="/javascripts/findAgent.js"></script> -->
          <script type="text/javascript" src="/javascripts/contact.js"></script>
          <script type="text/javascript" src="/javascripts/findAgentHome.js"></script>
           <script type="text/javascript" src="/javascripts/city.js"></script>
          <script src="/js/main.js"></script>
  </body>

</html>
