<!DOCTYPE html>
<html dir="ltr" lang="en">
<%- include("./partials/homeHead.ejs") %>

  <body class="home-body">
    <% function capitalizeFirstLetter(str) {%>
      <% str=str.toLowerCase().split(' '); %>
  <%  for (var i = 0; i < str.length; i++) {%>
    <% str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); %>
  <% } %>
  <%  return str.join(' '); %>
  <% } %>
    <div id="wrapper" class="clearfix home">
      <%- include("./partials/header.ejs") %>
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: home -->
        <section id="home">
          <div class="container-fluid p-0">
            <!-- START REVOLUTION SLIDER 5.0.7 -->
            <div
              id="rev_slider_home_wrapper"
              class="rev_slider_wrapper"
              data-alias="news-gallery34"
              style="
                margin: 0px auto;
                background-color: #ffffff;
                padding: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
              <div
                id="rev_slider_home"
                class="rev_slider fullwidthabanner"
                style="display: none"
                data-version="5.0.7"
              >
                <ul>
                  <!-- SLIDE 1 -->
                  <li
                    data-index="rs-1"
                    data-transition="fade"
                    data-slotamount="default"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="default"
                    data-thumb="/images/bg/bg1.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-saveperformance="off"
                    data-title="Web Show"
                    data-description=""
                  >
                    <!-- MAIN IMAGE -->
                    <img
                      src="/images/bg/bg1.jpg"
                      alt=""
                      data-bgposition="center 30%"
                      data-bgfit="cover"
                      data-bgrepeat="no-repeat"
                      data-bgparallax="10"
                      class="rev-slidebg"
                      data-no-retina
                    />
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div
                      class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
                      id="slide-1-layer-1"
                      data-x="[' center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
        data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
        data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
        data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500"
        data-basealign="slide" data-responsive_offset="on" style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.7);
                      ">
        </div>
        </li>
        <!-- SLIDE 2 -->
        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default"
          data-easeout="default" data-masterspeed="default" data-thumb="images/bg/bg2.jpg" data-rotate="0"
          data-fstransition="fade" data-saveperformance="off" data-title="Web Show" data-description="">
          <!-- MAIN IMAGE -->
          <img src="/images/bg/bg2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
            data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina />
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
            id="slide-2-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
            data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500"
            data-basealign="slide" data-responsive_offset="on" style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.7);
                      "></div>
        </li>
        <!-- SLIDE 3 -->
        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default"
          data-easeout="default" data-masterspeed="default" data-thumb="/images/bg/bg3.jpg" data-rotate="0"
          data-fstransition="fade" data-saveperformance="off" data-title="Web Show" data-description="">
          <!-- MAIN IMAGE -->
          <img src="/images/bg/bg3.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat"
            data-bgparallax="10" class="rev-slidebg" data-no-retina />
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
            id="slide-3-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
            data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
            data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
            data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="500"
            data-basealign="slide" data-responsive_offset="on" style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.7);
                      "></div>
        </li>
        </ul>
        </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
        </div>

        <section class="home-section">
          <div class="container">
            <div class="row home-section-top">
              <h2>Discover Your Next Enrolled Agent</h2>
              <p class='desc'>Browse through our directory of over 6,000+ professionals, and engage them for free.
</p>



              <div class="row home-section-top-input-div">

                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Zip Code
                  </button>
                  <div class="dropdown-menu" id="search__dropdown" aria-labelledby="dropdownMenuButton">
                    <p id="zip">Zip Code</p>
                    <p id="state">State</p>
                  </div>
                </div>
                <div class="input">
                  <input id="zipInput" type='text' placeholder="Enter Your Zip Code" />
                </div>
                <button id="submitBtn" class="btn2">Find</button>
                <a class="btn3" href='/find-agent'>Advanced Search</a>
              </div>
              <div class="home-section-grid">
                <div class="card-div">
                  <div class="top">
                    <p>01</p>
                    <img src='assets/files/049.svg' alt='Enrolled-agent-icon' />
                  </div>
                  <div class="bottom">
                    <h3>60,000+</h3>
                    <p>Enrolled Agents listed and reviewed</p>
                  </div>
                </div>
                <div class="card-div">
                  <div class="top">
                    <p>02</p>
                    <img src='assets/files/048.svg' alt='Enrolled-agent-icon' />
                  </div>
                  <div class="bottom">
                    <h3>Convenient</h3>
                    <p>Find an Enrolled Agent from the comfort of your home</p>
                  </div>
                </div>
                <div class="card-div">
                  <div class="top">
                    <p>03</p>
                    <img src='assets/files/verified.svg' alt='Enrolled-agent-icon' />
                  </div>
                  <div class="bottom">
                    <h3>Verified</h3>
                    <p>All Enrolled Agents listed are verified</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        </section>



        <section class="image-aside2">
          <div class="container-fluid">
            <div class="side"></div>
            <div class="flex">
              <div class="image-aside2-div1">
                <image src="/assets/files/image-left.png" alt="Enrolled-agent" />
              </div>
              <div class="image-aside2-div2">
                <h2>The simplest way to search and access your next Enrolled Agent on the go anytime, anywhere.</h2>
                <p>
                    Get the perfect fit for your needs by running a search through our up-to-date list of 
                    Enrolled Agents. Check out amazing reviews from Clients within your community. Have a peek 
                    into the profile of your Agent and lots more. Each EA listed is 100% authentic (in terms 
                    of profile accuracy and accreditation).
                </p>
                <a href="/find-agent">Search for Your Enrolled Agent <span class="">
              <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span></a>
              </div>
            </div>
            <div class="side2"></div>
          </div>
        </section>

        <!-- Section: Team -->
        <section id="team" class="bg-silver-light">
          <div class="container pb-50">
            <div class="section-title text-center">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="text-uppercase title">Top Rated Enrolled Agents</h2>
                  <p class="desc">Licensed and Verified Enrolled Agents</p>
                </div>
              </div>
            </div>
            <div class="section-content team">
              <div class="row">
                <% if(locals.popular && locals.popular.length> 0){ %>
                  <% locals.popular.map((e, id)=> { %>
                <div class="col-sm-6 col-md-3">
                  <div class="single-member maxwidth400 mb-30">
                    <div class="team-thumb">
                      <img src="/assets/images/avatar.webp" alt="agent-avatar" class="img-fullwidth" />
                      <h4 class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0">
                        <%= e.firstName %> <%= e.lastName %> <span class="text-white font-12 ml-5 small"></span>
                      </h4>

                    </div>
                    <div class="team-bottom-part bg-white p-15 team-bottom">
                      <p class="mb-10 team-bottom-name"><%= e.city %>, <%= e.state %></p>
                      <div class="team-bottom-flex">
                        <div class="team-bottom-flex-div1 ">
                          <!-- <img src="/assets/files/stars.svg" alt="" class="img-fullwidth" /> -->
                          <div class="stars-outer" value=<%= e.rating || 0 %> >
                            <div class="stars-inner"></div>
                          </div>
                          <p><%= e.reviewCount %> Reviews</p>
                        </div>
                        <div class="team-bottom-flex-div2">
                          <a href="/agent/<%= e._id %>">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% })} %>
               
              </div>
              <div class="row team-link-div">
                <a href="/find-agent" class="team-link">Find More Local EAs
                <span class="">
                      <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
                  </span>
                </a>
            </div>
            </div>
          </div>
        </section>

        <section class="image-aside">
          <div class="container-fluid">
            <div class='side'></div>
            <div class="flex">
              <div class="image-aside-div1">
                <h2>Find the right Enrolled Agent for you</h2>
                <p>
Would you have a quack attend to your medical issues? I know you wouldn't . How then do you take your tax issue to someone who isn't a tax-preparer? Of course, anyone who isn't a tax-preparer is a quack and is not qualified to handle your tax issues. Getting a good tax-preparer can be tasking, but we are here to ease that burden. We will connect you with a certified Enrolled Agent in your vicinity that can handle your tax and Internal Revenue Services Issue for $0. Yes, it is absolutely free.
                </p>
                <a href="#">Get Started <span class="">
              <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span></a>
              </div>
              <div class="image-aside-div2">
                <image src="/assets/files/image-right.png" alt="Enrolled-agent" />
              </div>
            </div>
          </div>
        </section>

        <%- include("./partials/cities.ejs") %>

         <section class="form">
          <div class="container">
            <div class="row">
              <div class="col-md-5 form-div1">
                <h2>Request a call Back</h2>
                <p>
                  Please fill out the form and press the submit button. We will get back to you with
                  1-2 business days
                </p>
              </div>
              <form class="col-md-7 form-div2" id="contact-form">
                <div class="row mb-30">
                  <div class="col-md-6 form-div2-formgroup mr-20">
                    <input type="text" placeholder="Full Name*" id="fullName" required />
                  </div>
                  <div class="col-md-6 form-div2-formgroup">
                    <input type="email" placeholder="Email*" id="email" required />
                  </div>
                </div>
                <div class="row mb-30">
                  <div class="col-md-6 form-div2-formgroup mr-20">
                    <input type="text" placeholder="Subject*" id="subject" required />
                  </div>
                  <div class="col-md-6 form-div2-formgroup">
                    <input type="tel" placeholder="Phone Number*" id="phone" required/>
                  </div>
                </div>
                <div class="row mb-50">
                  <div class="col-md-12 form-div2-formtextarea">
                    <textarea placeholder="Message*" id="message" required></textarea>
                  </div>
                </div>
                <button type="submit">Submit Now
                  <span class="">
              <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span>
                </button>
              </form>
            </div>
          </div>
        </section>



       
         <%- include("./partials/newsletter.ejs") %>
         

         <%- include("./partials/resources.ejs") %>
      
        </div>
        <!-- end main-content -->
        <%- include("./partials/footer.ejs") %>
          </div>
          <!-- end wrapper -->

          <!-- Footer Scripts -->
          <!-- JS | Chart-->
          <script type="text/javascript">
            var tpj = jQuery;
            var revapi34;
            tpj(document).ready(function () {
              if (tpj("#rev_slider_home").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_home");
              } else {
                revapi34 = tpj("#rev_slider_home")
                  .show()
                  .revolution({
                    sliderType: "standard",
                    jsFileLocation: "js/revolution-slider/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 5000,
                    navigation: {
                      keyboardNavigation: "on",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      onHoverStop: "off",
                      touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false,
                      },
                      arrows: {
                        style: "zeus",
                        enable: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp:
                          '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                        left: {
                          h_align: "left",
                          v_align: "center",
                          h_offset: 30,
                          v_offset: 0,
                        },
                        right: {
                          h_align: "right",
                          v_align: "center",
                          h_offset: 30,
                          v_offset: 0,
                        },
                      },
                      bullets: {
                        enable: false,
                        hide_onmobile: true,
                        hide_under: 600,
                        style: "metis",
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 30,
                        space: 5,
                        tmp:
                          '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>',
                      },
                    },
                    viewPort: {
                      enable: true,
                      outof: "pause",
                      visible_area: "80%",
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [600, 550, 500, 450],
                    lazyType: "none",
                    parallax: {
                      type: "scroll",
                      origo: "enterpoint",
                      speed: 400,
                      levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                    },
                  });
              }
            }); /*ready*/
          </script>

          <script>
            const rateStars = document.querySelectorAll(".stars-outer");
            rateStars.forEach((rateStar) => {
              const val = rateStar.getAttribute("value");
              const starTotal = 5;
              const starPercentage = (val / starTotal) * 100;
              const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
              rateStar.querySelector(".stars-inner").style.width = starPercentageRounded;
            });
          </script>
       
          <script type="text/javascript" src="/javascripts/findAgent.js"></script>
          <script type="text/javascript" src="/javascripts/contact.js"></script>
          <script src="/js/custom.js"></script>
          <%- include("./partials/info.ejs") %>

  </body>

</html>
