<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="">
    <%- include("./partials/header.ejs") %>
    <section class="container-fluid category_jumbotron newQuestionJumbo">
        <div class="row">
          <div class="col-12 category_jumbotron-div ">
            <h2>Submit Your Question</h2>
            <p>Need professional help with a specific issue or have general tax <br />questions? Feel free to reach out</p>
            <a href="/ask-ea">View Previous Questions</a>
          </div>
        </div>
      </section>
    <main class="newQuestion row">
      <div class="lvc8n-contact left-side col-md-8">
        <div class="lvc8n-contact__head"></div>
        <form id="askForm" class="lvc8n-contact__form">
          <div class="form__row">
            <div class="form__group">
              <input
                type="text"
                name="agent-first-name"
                class="form__input"
                placeholder="First Name*"
                id="firstName"
                required
              />
              <label for="agent-first-name" class="form__label"
                >First Name*</label
              >
            </div>
            <div class="form__group">
              <input
                type="text"
                class="form__input"
                placeholder="Last Name*"
                id="lastName"
                required
              />
              <label for="agent-last-name" class="form__label"
                >Last Name*</label
              >
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <input
                type="email"
                id="email"
                class="form__input"
                placeholder="Email Address*"
                required
              />
              <label for="agent-email" class="form__label"
                >Email Address*</label
              >
            </div>
            <div class="form__group">
              <input
                type="text"
                id="phone"
                class="form__input"
                placeholder="Phone Number*"
                required
              />
              <label for="agent-phone-number" class="form__label"
                >Phone number*</label
              >
            </div>
          </div>
          <div class="form__row">
            <!-- <div class="form__group form__group-inner">
              <input
                type="text"
                id="agent-city"
                class="form__input form__input-small form__input-small-left"
                placeholder="City*"
              />
              <label for="agent-city" class="form__label">City*</label>
              <input
                type="text"
                id="agent-zipcode"
                class="form__input form__input-small"
                placeholder="Zip Code*"
              />
              <label for="agent-zip-code" class="form__label">Zip Code*</label>
            </div> -->
            <div class="form__group">
              <select name="state" id="category" class="form__select">
                <option value="" disabled selected>
                  Select a Question Category
                </option>
                <% locals.questionCategory && locals.questionCategory.map((el,id) => { %>
                  <option value=<%= el._id %>> <%= el.name || "N/A" %> </option>
                <% }) %> 
              </select>
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <input
                type="text"
                id="title"
                class="form__input"
                placeholder="Question Title*"
                required
              />
              <label for="license" class="form__label">Question Title*</label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__group form__group-full-width">
              <label for="" class="form__textarea-label"
                >Your Question Details*</label
              >
              <textarea name="" class="form__textarea" id="message" required></textarea>
            </div>
          </div>
          <div class="lvc8n-contact__button">
            <button type="submit" class="lvc8n-btn lvc8n-contact__button-btn b-ton" id="submit-btn">
              Submit Your Question
            </button>
          </div>
        </form id="askForm">
      </div>

      <div class="category_grid-side right-side col-md-3">
        
        <div class="category_grid-side-ads">
          <img src="https://enrolled-public.s3.amazonaws.com/assets/files/13061.webp" alt="enrolled-agent" />
        </div>
        <div class="category_grid-side-recent">
          <h4>Recent Articles</h4>
          <% if(locals.latestArticle && locals.latestArticle.length > 0) { %>
              <% locals.latestArticle.map((el,id) => { %>
                <div class="category_grid-side-recent-div">
                  <a href="/blog/<%= el._id %>">
                    <h5 style="font-weight: bold;" class="mb-10"><%= el.title %></h5>
                    <p class="category_grid-side-recent-div-truncate"> <%- el.body %></p>
                    <p class="category_grid-side-recent-div-bold"><%- locals.dayjs(el.createdAt).format("MMM DD, YYYY") %></p>
                  </a>
                </div>
              <% }) %> 
            <%} else {%>
              <p style="text-align: center;">No recent article available</p>
            <%}%> 
        </div>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
    integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/ask.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
