<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
      <meta
    name="pages"
    content="<%= (locals.resource && locals.resource.pages)? locals.resource.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.resource && locals.resource.pages)? locals.resource.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.resource && locals.resource.pages)? locals.resource.page : '' %> "
  />

  <body class="category-page">
    <div id="tax">
      <%- include("./partials/header.ejs") %>
<!-- tax page starts -->
<div class="top-header">
    <h1><%= name %> </h1>
    <p><%= description %></p>
</div>
<!-- section 2 begins -->
<div id="card-section" class="container">
  <div class="row">
    <!-- card-1 -->
    <% if (typeof locals !=='undefined' && locals.resource && locals.resource.data && locals.resource.data.length > 0) { %>
      <% const {resource: {data}} = locals %>
        <% for(let i=0; i < data.length; i++) { %>
          <% const  {actionText, actionLink, title, category, imageUrl, sponsor, body }  = data[i] %>
    <div class="cards col-md-6 ">
      <div class='card-image-div'>
       <img src="<%= imageUrl %>" alt="broken">
      </div>
    
      <h3><%= title %></h3>
      <% if(category && category.name){ %>
        <a href="/resource/<%= category.slug %>"> <small style="color: tomato;"><%= category.name %></small></a>
        <% }%>
        <br>
        <% if(sponsor && sponsor.name){ %>
         <small >Sponsored By: <%= sponsor.name %></small> 
          <% }%>
          <br>
     
      <p><%- body || '' %></p>
      <a href="<%= actionLink || '#' %>" target="_blank" class="btn btn-lg b-ton"><%= actionText || 'View Details' %> <span>></span></a>
    </div>
    <% }} else { %>
      <div class="col-md-12 text-center">
       <p>No resources found</p>
      </div>
    <% } %>
  </div>
</div>

<section id="bottom">
  <div class="container contain">
    <% if( typeof locals.resource !=='undefined' && locals.resource && locals.resource.data.length > 0) { %> 
      <div class="row">
        <div class="col-md-3 text-center">
            <% const {perPage, pages, page, total } = locals.resource %> 
            <% const start=(perPage * page) - perPage +1 %> 
            <% const end=start + perPage -1 %>
            <p>Showing <%= start || 0%> to <%= Math.min(total || 0, end || 0) %> 
              of <%= total || 0%> resources.
            </p> 
        </div>
        <% if( typeof locals.resource !=='undefined' && locals.resource && locals.resource.pages > 1) { %>
        <div class="col-md-9 text-center">
          <nav class="MyPagination">
            <ul class="pagination">
              <ul id="pagination" class="pagination-sm"></ul>
            </ul>
          </nav> 
        </div>
        <% } %>
      </div>
    <% } %>
  </div>
</section>
<div class="partner-banner">
  <img data-toggle="modal" data-target="#partnerModal" class="partner-banner-img" src="https://enrolled-public.s3.amazonaws.com/assets/EA_Resources_Page.webp" alt="partner banner" />
</div>
<!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mb-30" id="exampleModalLongTitle">Partnership Form </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="partner-form">
        <div class="modal-body">
            <div class="modal-body-div">
              <div class="row">
                <div class="col-md-6">
                  <input class="modal-body-div-input" id="name" type="text" required 
                  placeholder="Name*" />
                </div>
                <div class="col-md-6 pl-20">
                  <input class="modal-body-div-input" id="email" type="email" required 
                  placeholder="Email*" />
                </div>
              </div>
            </div>
            <div class="modal-body-div">
              <div class="row">
                <div class="col-md-6">
                  <input class="modal-body-div-input" id="firmName" type="text" required placeholder="Firm Name*" />
                </div>
                <div class="col-md-6 pl-20">
                    <input class="modal-body-div-input" id="phone" type="tel" required placeholder="Phone Number*" />
                </div>
              </div>
            </div>
            <div class="modal-body-div">
              <label class="modal-body-div-label"> Message</label>
              <textarea placeholder="Brief description of partnership interest" maxlength="1500" id="message"></textarea>
              <p>1500 maximum characters </p>
            </div>               
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" id="submit-btn">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>

<!-- end of card section -->

<%- include("./partials/cities.ejs") %>

<section id="form">
  <div class="container">
    <div class="row"> 
      <div class="col-md-5 form-div1">
        <h2>Request a call Back</h2>
        <p>
          Please fill out the form and press the submit button. We will get back to you within
          1-2 business days
        </p>
      </div>
      <form class="col-md-7 form-div2" id="contact-form">
        <div class="row input-1">
          <div class="col-md-6 form-div2-formgroup ">
            <input type="text" placeholder="Full Name*" id="fullName" required />
          </div>
          <div class="col-md-6 form-div2-formgroup">
            <input type="email" placeholder="Email*" id="email" required />
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 form-div2-formgroup ">
            <input type="text" placeholder="Subject*" id="subject" required />
          </div>
          <div class="col-md-6 form-div2-formgroup">
            <input type="tel" placeholder="Phone Number*" id="phone" required />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-div2-formtextarea">
            <textarea placeholder="Message*" required id="message"></textarea>
          </div>
        </div>
        <button class="btn b-ton" type="submit" id="submit-btn">Submit Now
          <span class="">
              <img alt="" src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span>
        </button>
      </form>
    </div>
  </div>
</section>




      <!-- footer section -->
      <%- include("./partials/footer.ejs") %>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
    integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/partner.js"></script>
          <script type="text/javascript" src="/javascripts/contact.js"></script>
          <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
          <script src="/javascripts/pagination.js"></script>
     <script src="/js/main.js"></script>
    </body>
  </html>
