<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  <meta
    name="pages"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.agents && locals.agents.pages)? locals.agents.page : 1 %> "
  />

  <body id="ea-listings">
    <%- include("./partials/header.ejs") %>

    <section id="ea-listings-top">
      <div class="container">
        <h1>Search Results</h1>
        <% if(locals.query.q) { %>
          <% if (locals.query.q.split(":")[1].includes("lastName")) {%>
            <p>Showing search results for <%=  locals.query.q.split(",")[1].split(":")[1] || "N/A" %> in 
              <%=  locals.query.q.split(":")[1].split(',')[0] || "N/A" %></p>
          <%} else {%>
            <p>Showing all Enrolled Agents in <%=  locals.query.q.split(":")[1] || "N/A" %></p>
          <%}%> 
          
        <%} else {%>
          <p>Showing search results for <%= locals.query.search && locals.query.search || "N/A" %></p>
        <%}%> 
        
        <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p> -->
      </div>
    </section>

    <section id="input">
      <div class="container">
        <div class="row">
          <div class="row-1.col-md-4">
            <div class="input-text col-md-8">
              <p>Search:</p>
              <input type="text" placeholder="Enter agent's first name, last name, city, state or zipcode" class="pl-10" name="search" id="search" />
              <button class="search-btn" onclick="search()">Search</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="premium" class="container">
      <% if(locals.agents.data.length > 0) { %>
          <% locals.agents.data.map((e,id) => { %>
        <div class="row premium-box">
          <div class="col-md-4 col-sm-12">
            <div class="img col-md-5">
              <img src=<%= e.imageUrl || "/assets/images/avatar.webp" %>  alt="agent-image" />
            </div>
            <div class="txt col-md-7">
              <h3><%= e.firstName %> <%= e.lastName %></h3>
              <p><%= e.city %></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mid-div">
            <% if(e.premium) { %>
                  <h4>Premium Member</h4>
            <%}%> 
            <p>
              <div class="stars-outer" id="client-stars" value=<%= e.rating || 0 %> >
                <div class="stars-inner"></div>
              </div>
              <span> <%= e.reviewCount %> reviews</span>
            </p>
          </div>
          <div class="col-md-4 col-sm-12 b-tons">
            <a  href="/agent/<%= e._id %>" class="btn btn-lg btn-blu mt-2"> View profile</a>
            <!-- <a href="" class="btn btn-lg btn-wht mt-2"> Website</a> -->
          </div>
        </div>
        <% }) %>
      <% } else { %>
        <p style="text-align: center; margin-bottom: 50px;">There are no search results available</p>
      <%}%> 
    </section>

     
    <section id="bottom">
      <div class="container contain">
        <div class="row">
          <div class="col-md-3">
            <a href="/ea-listings" class="btn btn-lg b-ton b-ton-blu"> View All EAs</a>
          </div>
          <% if(locals.agents && locals.agents.data && locals.agents.data.length > 0){ %>
          <div class="col-md-3">
            <% const { page, pages, perPage, total} = locals.agents %>
                <p> showing
                  <span id="resNumber"> <%= (((page || 0) -1) * (perPage || 0))+ 1 || 0%> to 
                    <%= Math.min((page || 1) * (perPage || 0), total) || 0%> of <%= total || 0%> entries
                  </span>
                </p>
          </div>
           <% } %> 
          <% if(locals.agents && locals.agents.data && locals.agents.pages > 1){ %>
          <div class="col-md-6 b-tons">
            <nav class="MyPagination">
              <ul class="pagination">
                <ul id="pagination" class="pagination-sm"></ul>
              </ul>
            </nav>
          </div>
           <% } %> 
        </div>
      </div>
    </section>
    
    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <script>
            function search() {
              const input = document.getElementById("search").value;
              window.location = `/search-results?search=${input}`;
              input = "";
            }

              const input = document.getElementById("search");
              const urlParams = new URLSearchParams(window.location.search);
              const _search = urlParams.get('search');
              input.value = _search
              input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                 search()
                }
              })
          
          </script>
    <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
    <script src="/javascripts/pagination.js"></script>
    <script>
            const clientStars = document.querySelectorAll("#client-stars");
            clientStars.forEach((clientStar) => {
              const val = clientStar.getAttribute("value");
              const starTotal = 5;
             
              const starPercentage = (val / starTotal) * 100;
              const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
              clientStar.querySelector(".stars-inner").style.width = starPercentageRounded;
            });
          </script>
    
    <script src="/js/main.js"></script>

  </body>
</html>
