<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap" rel="stylesheet" />
  <%- include("./partials/head.ejs") %>
    <meta
    name="pages"
    content="<%= (locals.cities && locals.cities.pages)? locals.cities.pages : '' %> "
  />
  <meta
    name="data"
    content="<%= (locals.cities && locals.cities.pages)? locals.cities.data : ''%> "
  />
  <meta
    name="page"
    content="<%= (locals.cities && locals.cities.pages)? locals.cities.page : '' %> "
  />
</head>

<body  class="">
   
    <%- include("./partials/header.ejs") %>
    <div class="findEA">
      <div class="findEA-banner">
        <div class="findEA-banner__item">
          <div class="findEA-banner__item--head"><%= locals.capitalizeFirstLetter(locals.state.name)  %> EAs</div>
          <div class="findEA-banner__item--text">
          
            <%if(locals.state && locals.state.name){%>
             Get an Enrolled Agent in <%= locals.capitalizeFirstLetter(locals.state.name)  %> 
           
            <% } %> 
          </div>
          <div class="findEA-banner__item--button">
            
          </div>
        </div>
      </div>
      <div class="findEA-search">
        
      </div>
      <div class="findEA-locations">
            
          <div class="findEA-locations__group">
            <% if (typeof locals !=='undefined' && locals.cities && locals.cities.data && locals.cities.data.length> 0) { %>
              <% const cities = locals.cities.data %>
              <% let span = 15 %>
              <% if(cities.length <= span) span = cities.length %>
                <% for(let i=0; i < span; i++) { %>
                  <% const  {name, slug, stateSlug}  = cities[i] %>
                  <div class="findEA-locations__item">
                    <a  href="/agents/<%= stateSlug %>/<%= slug %>" class="findEA-link">
                      <span class="findEA-btn-right-angle">
                        <img
                          src="/assets/images/findEA/right-arrow-black.svg"
                          alt=""
                          class="findEA-btn-right-arrow-left"
                        />
                      </span>
                      <%= locals.capitalizeFirstLetter(name || '') %>
                    </a>
                  </div> 
                    <% }} %> 
          </div>
          <div class="findEA-locations__group">
            <% if (typeof locals !=='undefined' && locals.cities && locals.cities.data && locals.cities.data.length> 15) { %>
              <% const cities = locals.cities.data %>
              <% let span = 30 %>
              <% if(cities.length <= span) span = cities.length %>
                <% for(let i = 15; i < span; i++) { %>
                  <% const  {name, slug, stateSlug}  = cities[i] %>
                  <div class="findEA-locations__item">
                    <a  href="/agents/<%= stateSlug %>/<%= slug %>" class="findEA-link">
                      <span class="findEA-btn-right-angle">
                        <img
                          src="/assets/images/findEA/right-arrow-black.svg"
                          alt=""
                          class="findEA-btn-right-arrow-left"
                        />
                      </span>
                      <%= locals.capitalizeFirstLetter(name || '') %>
                    </a>
                  </div> 
                    <% }} %> 
          </div> 
          <div class="findEA-locations__group">
            <% if (typeof locals !=='undefined' && locals.cities && locals.cities.data && locals.cities.data.length> 30) { %>
              <% const cities = locals.cities.data %>
                <% for(let i = 30; i < cities.length; i++) { %>
                  <% const  {name, slug, stateSlug}  = cities[i] %>
                  <div class="findEA-locations__item">
                    <a  href="/agents/<%= stateSlug %>/<%= slug %>" class="findEA-link">
                      <span class="findEA-btn-right-angle">
                        <img
                          src="/assets/images/findEA/right-arrow-black.svg"
                          alt=""
                          class="findEA-btn-right-arrow-left"
                        />
                      </span>
                      <%= locals.capitalizeFirstLetter(name || '') %>
                    </a>
                  </div> 
                    <% }} %> 
       
        </div>
       
      </div>
       
      
      <div class="container findEA-pagination">
        
        <div class="findEA-pagination__button">
          <button class="findEA-btn">View All States</button>
        </div>
        <% if( typeof locals.cities !== 'undefined' && locals.cities.data && locals.cities.data.length > 0 ) { %>
          <% const { cities: {page, pages, perPage, total}, query}=locals %>
            <div class="findEA-pagination__info">showing  <%= (((page || 0) -1) * (perPage || 0))+ 1 || 0%> to  <%=  Math.min((page || 1) * (perPage || 0), total) || 0%> of <%= total || 0%> entries</div>
             <% if( typeof locals.cities !== 'undefined' && locals.cities.data && locals.cities.pages > 1 ) { %>
            <nav class="MyPagination">
              <ul class="pagination">
                <ul id="pagination" class="pagination-sm"></ul>
              </ul>
            </nav>
            <% } %> 
        <% } %>
      </div>

            <div class="findEA-suggested">
              <div class="findEA-suggested__head">
                <div class="findEA-suggested__head--head">Popular Agents in <%= locals.capitalizeFirstLetter(locals.state.name)
                    %>
                </div>

                </div>
              <div class="findEA-suggested__body">

                <% if(locals.popular && locals.popular.length> 0){ %>
                  <% locals.popular.map((e, id)=> { %>
                    <div class="findEA-suggested__item">
                      <div class="findEA-suggested__item--image">
                        <img src=<%= e.imageUrl || "https://enrolled-public.s3.amazonaws.com/assets/images/avatar.webp" %> alt=<%= e.firstName %> <%= e.lastName %>
                          class="findEA-suggested__item--image-img" />
                      </div>
                      <div class="findEA-suggested__item--container">
                        <div class="findEA-suggested__item--name"><%= e.firstName %> <%= e.lastName %></div>
                        <div class="findEA-suggested__item--location"><%= e.city %>, <%= e.state %></div>
                        <div class="stars-outer" value=<%= e.rating || 0 %> >
                            <div class="stars-inner"></div>
                          </div>
                        <div class="findEA-suggested__item--button">
                          <a href="/agent/<%= e._id%>" class="findEA-btn findEA-suggested__item--button-btn">View Profile</a>
                        </div>
                      </div>
                    </div>
                    <% })} %>

              </div>
            </div>
            </div>

            <%- include("./partials/footer.ejs") %>
              <script src="/js/main.js"></script>
              
              <script>
            const rateStars = document.querySelectorAll(".stars-outer");
            rateStars.forEach((rateStar) => {
              const val = rateStar.getAttribute("value");
              const starTotal = 5;
              const starPercentage = (val / starTotal) * 100;
              const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
              rateStar.querySelector(".stars-inner").style.width = starPercentageRounded;
            });
          </script>
          <script src="/javascripts/plugin/jquery.simplePagination.js"></script>
          <script src="/javascripts/pagination.js"></script>
</body>

</html>
