<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  <meta name="postId" content=<%= locals.article._id || "N/A"  %>  />
  <body class="">
    <%- include("./partials/header.ejs") %>
    <div id="wrapper" class="clearfix">
      <!-- Start main-content -->
      <div class="main-content singleBlog">
        <!-- Section: inner-header -->
        <section
          class="inner-header divider layer-overlay overlay-dark-4"
          data-bg-img=<%= locals.article.imageUrl || "/assets/images/blog_fallback.jpeg" %>
        >
          <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content blog-bg">
              <div class="row">
                <div class="col-md-8 jumbo">
                  <h2 class="text-theme-colored2 font-36"><%= locals.article.title  %></h2>
                  <ol class="breadcrumb text-left mt-10 white">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">News & Articles</a></li>
                    <li class="active"><%= locals.article.title  %> </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: Blog -->
        <section>
          <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="blog-posts single-post">
                  <article class="post clearfix mb-0">
                    <div class="entry-header">
                      <!-- <div class="post-thumb thumb">
                        <img src="/images/bg/bg2.jpg" alt="" class="img-responsive img-fullwidth" />
                      </div> -->
                    </div>
                    <div class="entry-content">
                      <div class="entry-meta media no-bg no-border mt-15 pb-20">
                        <div
                          class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15"
                        >
                          <ul>
                            <li class="font-16 text-white font-weight-600 text-uppercase">
                              <%- locals.dayjs(locals.article.createdAt).format("DD <br /> MMM") %>
                            </li>
                            
                          </ul>
                        </div>
                        <div class="media-body pl-15">
                          <div class="event-content pull-left flip">
                            <span class="mb-10 text-gray-darkgray mr-10 font-13"> 
                              <i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 
                              <%= locals.article.comment.length || 0 %> Comments
                            </span>
                          </div>
                        </div>
                      </div>
                      <p class="mb-15"><%- locals.article.body  %></p>
                    
                      <div class="mt-30 mb-0">
                        <h5 class="pull-left flip mt-10 mr-20 text-theme-colored">Share:</h5>
                        <ul class="styled-icons icon-circled m-0">
                          <li>
                            <a href="#" data-bg-color="#3A5795"
                              ><i class="fa fa-facebook text-white"></i
                            ></a>
                          </li>
                          <li>
                            <a href="#" data-bg-color="#55ACEE"
                              ><i class="fa fa-twitter text-white"></i
                            ></a>
                          </li>
                          
                        </ul>
                      </div>
                    </div>
                  </article>
                  <!-- <div class="tagline p-0 pt-20 mt-5">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="tags pb-20">
                          <p class="mb-0">
                            <i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span> Law,
                            Juggement, lawyer, Cases
                          </p>
                        </div>
                      </div>
                   
                    </div>
                  </div> -->
                  
                  <div class="comments-area">
                    <h5 class="comments-title mt-30">Comments</h5>
                    <% if (locals.article.comment.length > 0) {%>
                      <ul class="comment-list">
                      <% locals.article.comment.map((el,id) => { %>  
                      <li>
                        <div class="media comment-author">
                          <div class="media-body">
                            <h5 class="media-heading comment-heading"><%= el.name %>  says:</h5>
                            <div class="comment-date"><%- locals.dayjs(el.createdAt).format("MM/ DD/ YYYY") %></div>
                            <p><%= el.message %></p>
                          </div>
                        </div>
                      </li>

                      <%}) %> 
                      </ul>
                    <%} else {%>
                      <p>Be the first to leave a comment!</p>
                    <%}%> 
                  </div>
                  <div class="comment-box">
                    <div class="row">
                      <div class="col-sm-12 mt-30">
                        <h5>Leave a Comment</h5>
                        <div class="row mt-20">
                          <form role="form" id="comment-form">
                            <div class="col-sm-6 pt-0 pb-0">
                              <div class="form-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  name="name"
                                  id="name"
                                  placeholder="Enter Name*"
                                />
                              </div>
                              <div class="form-group">
                                <input
                                  type="text"
                                  required
                                  class="form-control"
                                  name="email"
                                  id="email"
                                  placeholder="Enter Email*"
                                />
                              </div>
                    
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <textarea
                                  class="form-control"
                                  required
                                  name="message"
                                  id="message"
                                  placeholder="Enter Message*"
                                  rows="7"
                                ></textarea>
                              </div>
                              <div class="form-group">
                                <button
                                  type="submit"
                                  class="btn btn-dark btn-flat pull-right m-0"
                                  id="submit-btn"
                                >
                                  Submit
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/javascripts/comment.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
