<!DOCTYPE html>
<html dir="ltr" lang="en">
    
<%- include("./partials/head.ejs") %>


    <body class="home-body">
      
    <div id="wrapper" class="clearfix home">
      <%- include("./partials/header.ejs") %>
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: home -->
        <!-- <iframe src="https://createaclickablemap.com/map.php?&id=100546&maplocation=false&online=true" width="900" height="525" style="border: none;"></iframe> -->
        <div class="findEA-locations" style="height: 100%;">
            
            <div class="findEA-locations__group">
              <% if (typeof locals !==' undefined' && locals.states && locals.states && locals.states.length> 0) { %>
                <% const states=locals.states %>
                    <% let span=20 %>
                        <% if(states.length <=span) span=states.length %>
                            <% for(let i=0; i < span; i++) { %>
                                <% const {name, slug} = states[i] %>
                                    <div class="findEA-locations__item">
                                        <a href="/agents/<%= slug %>" class="findEA-link">
                                            <span class="findEA-btn-right-angle">
                                                <img src="/assets/images/findEA/right-arrow-black.svg" alt=""
                                                    class="findEA-btn-right-arrow-left" />
                                            </span>
                                            <%= locals.capitalizeFirstLetter(name || '' ) %>
                                        </a>
                                    </div>
                                    <% }} %>
                                        </div>
                                        <div class="findEA-locations__group">
                                            <% if (typeof locals !=='undefined' && locals.states && locals.states && locals.states.length> 20) { %>
                                                <% const states=locals.states %>
                                                    <% let span=40 %>
                                                        <% if(states.length <=span) span=states.length %>
                                                            <% for(let i=20; i < span; i++) { %>
                                                                <% const {name, slug} = states[i] %>
                                                                    <div class="findEA-locations__item">
                                                                        <a href="/agents/<%= slug %>"
                                                                            class="findEA-link">
                                                                            <span class="findEA-btn-right-angle">
                                                                                <img src="/assets/images/findEA/right-arrow-black.svg"
                                                                                    alt=""
                                                                                    class="findEA-btn-right-arrow-left" />
                                                                            </span>
                                                                            <%= locals.capitalizeFirstLetter(name || '' ) %>
                                                                        </a>
                                                                    </div>
                                                                    <% }} %>
                                        </div>
                                        <div class="findEA-locations__group">
                                            <% if (typeof locals !=='undefined' && locals.states && locals.states && locals.states.length> 40) { %>
                                                <% const states=locals.states %>
                                                    <% for(let i=40; i < states.length; i++) { %>
                                                        <% const {name, slug} = states[i] %>
                                                            <div class="findEA-locations__item">
                                                                <a href="/agents/<%= slug %>" class="findEA-link">
                                                                    <span class="findEA-btn-right-angle">
                                                                        <img src="/assets/images/findEA/right-arrow-black.svg"
                                                                            alt=""
                                                                            class="findEA-btn-right-arrow-left" />
                                                                    </span>
                                                                    <%= locals.capitalizeFirstLetter(name || '' ) %>
                                                                </a>
                                                            </div>
                                                            <% }} %>

                                        </div>

                                        </div>


                                        <%- include("./partials/cities.ejs") %>


                                            <div style=" padding: 50px;">
                                            </div>


                                            </div>
                                            <!-- end main-content -->
                                            <%- include("./partials/footer.ejs") %>
                                                </div>
                                                <!-- end wrapper -->

                                                <!-- Footer Scripts -->
                                                <!-- JS | Chart-->
                                                
                                               <script type="text/javascript" src="/javascripts/city.js"></script>
                                                <!-- <script>if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22) { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22) { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); } </script> -->

                                                <script src="https://enrolled-public.s3.amazonaws.com/js/main.js"></script>
                                               
                                                
                                               
    </body>

</html>
